/.mvn/
/bin/
/target/
/data/
/de/
/src/main/resources/wip/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


*.db
*.docx
src/main/resources/templates/test.html

*.lock
