<div th:fragment="deu001" class="deu001">
	<h5 class="cs700F083A">
		<span>Text 1</span>
	</h5>
	<ol width="75%">
		<li>Ein Mann ging zum Arzt.</li>
		<li>Der Arzt fragte: &bdquo;Was tut dir weh?&ldquo;</li>
		<li>Der Mann sagte: &bdquo;Der Bauch tut mir weh.&ldquo;</li>
		<li>Der Arzt fragte: Was hast du heute morgen gegessen?&ldquo;</li>
		<li>Der Mann antwortete dem Arzt: &bdquo;Ich habe heute morgen
			verbranntes Brot gegessen.&ldquo;</li>
		<li>Der Arzt begann, ihm Medizin auf das Auge zu reiben.</li>
		<li>Der Mann fragte: &bdquo;Mir tut der Bauch weh, wozu reibst du
			mir Arznei aufs Auge?&ldquo;</li>
		<li>Der Arzt sagte: &bdquo;Zuerst mache ich dein Auge heil.</li>
		<li>Wenn du am Auge heil wurdest, warum isst du dann verbranntes
			Brot?</li>
	</ol>
</div>
