<div th:fragment="deu005" class="deu005">
	<h5 class="cs700F083A">
		<span class="cs9650F980">Text 5 G&uuml;&scaron;&uuml;nǰog</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>Es war ein (gewisser) G&uuml;&scaron;č&uuml;nǰˈog. Er lebte
					vor sich hin.</span><a href="#_ftn0" title=" Wörtl.: „er war einer, der immer hinein und hinausging“." name="_ftn_GoBack0"><span
			class="cs519E05AF"><sup>[1]</sup></span></a><span class="cs519E05AF"></li>
			<li>Er stieg auf einen Apfelbaum.</li>
			<li>Eine Alte stellte sich unter den Baum</span><a href="#_ftn1" title="Wörtl.: „stellte sich unten an der Wurzel hin“."
			name="_ftn_GoBack1"><span class="cs519E05AF"><sup>[2]</sup></span></a><span
			class="cs519E05AF">.
			</li>
			<li>Sie sagte: &bdquo;G&uuml;&scaron;&uuml;nǰog, wirf &Auml;pfel
				herab!&ldquo; Er warf der Alten einen Apfel herab.</li>
			<li>Die Alte sprach so: &bdquo;Auf den Boden Geworfenes esse ich
				nicht.&ldquo;</li>
			<li>G&uuml;&scaron;&uuml;nǰog sagte: &bdquo;Wenn ich (den Apfel)
				auf was werfe, wirst du (ihn) essen?&ldquo;</li>
			<li>Die Alte sagte: &bdquo;Wirf (ihn mir) in den Scho&szlig;,
				dann will ich ihn essen!&ldquo; G&uuml;&scaron;&uuml;nǰog warf (ihr
				den Apfel) in den Scho&szlig;.</li>
			<li>&bdquo;Ich esse nicht&ldquo;, sagte die Alte. &bdquo;O
				Gro&szlig;mutter, wenn ich auf was werfe, wirst du essen?&ldquo;</li>
			<li>Die alte Frau sagte: &bdquo;Wenn du ihn in den Jackenbausch
		
		</span><a href="#_ftn2" title="Der Jackenbausch wird als Ort für Wertsachen benutzt." name="_ftn_GoBack2"><span class="cs519E05AF"><sup>[3]</sup></span></a><span
			class="cs519E05AF"> wirfst, werde ich ihn essen.&ldquo;
			G&uuml;&scaron;&uuml;nǰog warf ihn in den Jackenbausch.
			</li>
			<li>Die alte Frau sagte: &bdquo;Das in den Jackenbausch
				Geworfene werde ich nicht essen.&ldquo; &bdquo;Wenn ich (&Auml;pfel)
				in was hinunterwerfe, wirst du essen?&ldquo;</li>
			<li>&bdquo;Wenn du den Ast ganz weit nach unten biegst, (die
				&Auml;pfel) in den Sack hineintust
		</span><a href="#_ftn3"  title="Wörtl.: „hineinschauen lassen habend“." name="_ftn_GoBack3"><span class="cs519E05AF"><sup>[4]</sup></span></a><span
			class="cs519E05AF"> (und) du auch den Kopf hineinsteckst und
			(ihn?) hineinsch&uuml;ttelst, dann werde ich essen.&ldquo;
			</li>
			<li>G&uuml;&scaron;&uuml;nǰog tat so. Die Alte tat
				G&uuml;&scaron;&uuml;nǰog in den Sack und eilte davon.</li>
			<li>Sie brachte ihn nach Hause, setzte ihn auf den Stuhl.</li>
			<li>Einen gro&szlig;en Steintopf stellte sie nach links hoch und
				setzte ihn auf dem Dreifu&szlig; ins Feuer.</li>
			<li>G&uuml;&scaron;&uuml;nǰog dr&uuml;ckte sie hinein.</li>
			<li>Sie machte Feuer. G&uuml;&scaron;&uuml;nǰog wurde gekocht/
				sie kochte G&uuml;&scaron;&uuml;nǰog.
		</span><a href="#_ftn4" title=" Das Motiv der menschenfressenden Alten, die einen Jungen, der ihr Früchte (Maulbeeren) vom Baum wirft, im Sack fängt, um ihn zu Hause zu kochen, erscheint auch bei Morgenstierne 1944, 127, vgl. auch Hakim Abdul 2006, 27 (s. Fußnote zu Text 8.42)." name="_ftn_GoBack4"><span class="cs519E05AF"><sup>[5]</sup></span></a>
	</li>
	</ol>
	</p>
</div>
