<div th:fragment="deu002" class="deu002">
	<h5 class="cs700F083A">
		<span class="cs9650F980">Text 2 Disnis Gang zum Eisgeist</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF">
			<ol>
				<li>Nach Opozık Ḍuru kam talab Mǝnǰem Mǝleg, in Opozık Ḍuru
					setzte er sich hin.</li>
				<li>Disni schickte er im Tal
		</span><a href="#_ftn0"
			title="Disni befindet sich im rechten Seitental, das in der Nähe von Zumu in das Haupttal mündet. Von dort aus wird sie steil nach oben geschickt."
			name="_ftn_GoBack0"><span class="cs519E05AF"><sup>[1]</sup></span></a><span
			class="cs519E05AF">nach oben. 
		</li>
	<li>Zu Disni sprach Mǝnǰem Mǝleg dies: &bdquo;Ein starker Eiswind
		schl&auml;gt in der N&auml;he
	</span><a href="#_ftn1"
		title="Der Eiswind hat seinen Ursprung an einem entfernten Ort. Seine Wirkung aber ist in unmittelbarer Nähe der Wiese Opozık Ḍuru heftig zu spüren, er „schlägt herab“."
		name="_ftn_GoBack1"><span class="cs519E05AF"><sup>[2]</sup></span></a><span
		class="cs519E05AF"> herab. Du geh hinauf, schau dich um,
		kundschafte alles aus und komm zu mir (zur&uuml;ck)!&ldquo;
		</li>
		<li>Disni ging nach oben. Ein Fels hat keinen Weg.</li>
		<li>Sie schaute nach rechts und links
	</span><a href="#_ftn2"
		title="Disni schaut flussaufwärts und flussabwärts, auf den Prasun-Fluss bezogen. Vom Seitental aus bedeutet das rechts und links. "
		name="_ftn_GoBack2"><span class="cs519E05AF"><sup>[3]</sup></span></a><span
		class="cs519E05AF"> und konnte nicht (weiter). Sie wandte sich
		(wieder) nach unten und kam herab. Sie kam zu Mǝnǰem Mǝleg in Opuzık
		Ḍuru.
		</li>
		<li>Sie sagte: &bdquo;Ich konnte keinen Weg machen, es will kein
			Weg werden.&ldquo;</li>
		<li>Mǝnǰem Mǝleg sprach so: &bdquo;Unter den G&ouml;ttern stark
			und angesehen (am st&auml;rksten angesehen) bist du; wenn du (es)
			nicht kannst, werden andere Leute (es) nicht k&ouml;nnen.&ldquo;</li>
		<li>Disni ging nach oben. Sie zog das Obergewand (Schleier) ab
			und legte es an eine (Stelle) rechts etwas erh&ouml;ht
	</span><a href="#_ftn3"
		title=" Wörtl.: „legte es hoch an dem Talauf-Hochgewendeten“. "
		name="_ftn_GoBack3"><span class="cs519E05AF"><sup>[4]</sup></span></a><span
		class="cs519E05AF"> ab.
		</li>
		<li>Sie krempelte beide &Auml;rmel auf. Sie schaut nach oben und
			nach unten.</li>
		<li>Sie machte Seidenstufen,
	</span><a href="#_ftn4"
		title=" Die Bedeutung „Seide“ für lac̣ (< *“rot“) wurde 1970 bestätigt. "
		name="_ftn_GoBack4"><span class="cs519E05AF"><sup>[5]</sup></span></a><span
		class="cs519E05AF"> sie machte Goldstufen, sie strengte sich
		sehr an. Sie gelangte nach oben.
		</li>
		<li>Sie wandte sich hinein und schaute hinein (in das
			Felsplateau). Als ihr Auge dorthin schaute, ragte ein Eisberg steil
			auf, (so hoch, dass er) beinahe in den Rand hineinging
	</span><a href="#_ftn5"
		title="Wörtl.: „ein Eisberg, gewachsen, steil hochgegangen, setzte an, in den Rand zu gehen“. "
		name="_ftn_GoBack5"><span class="cs519E05AF"><sup>[6]</sup></span></a><span
		class="cs519E05AF">.
		</li>
		<li>Sie wusste sich keinen Rat. Sie trat ein, ging weiter und
			weiter hinein, kam rechts am Eisberg an.</li>
		<li>Sie schaut nach oben, sie schaut nach unten: sie wusste sich
			keinen Rat. Sie legte das Ohr an den Eisberg: das Ger&auml;usch von
			Menschenstimmen, das Ger&auml;usch von Tierstimmen drang an (ihr
			Ohr).</li>
		<li>Sich umgewendet habend, sich hinausgewendet habend, kam sie
			herab, sie kam zu Mǝnǰem Mǝleg in Opozık Ḍuru.</li>
		<li>Mǝnǰem Mǝleg sprach so: &bdquo;Wenn ich unter den
			G&ouml;ttern die M&auml;chtig(st)e ausw&auml;hle und nach oben
			schicke, warum wirst du, ohne (etwas ausrichten) zu k&ouml;nnen,
			hierher (zur&uuml;ck)kommen?&ldquo;</li>
		<li>Disni sprach: &bdquo;Ich konnte (es) nicht, (da) ist ein
			Eisberg, ich kann nichts machen (aus meiner Hand kommt (es) nicht),
			ich konnte (es) nicht.</li>
		<li>Du, Mǝnǰem Mǝleg, hast Macht, dir gab ich Bescheid, ich
			konnte (es) nicht.&ldquo;</li>
		<li>Mǝnǰem Mǝleg spricht zu Disni, in seine G&uuml;rteltasche
			griff er, Mǝnǰem Mǝleg dr&uuml;ckte eine Regenwolke Disni in die Hand

	
	</span><a href="#_ftn6"
		title="Wörtl.: „Regenwolke, eingedrückt habend, in die Hand gab er der Disni“."
		name="_ftn_GoBack6"><span class="cs519E05AF"><sup>[7]</sup></span></a><span
		class="cs519E05AF">:
		</li>
		<li>&bdquo;Nachdem du diese hochgetragen hast, im Tal oben
			angekommen bist, zu diesem Eisberg hoch gelangt bist, schicke dies
			zum Himmel
	</span><a href="#_ftn7"
		title=" A. R. verwendet das Waigali-Wort für „Himmel“. Einschübe aus anderen Nuristan-Sprachen (vor allem Kati und Waigali) sind typisch für Texte, die von der vorislamischen Zeit handeln. Sie waren anscheinend für Besucher aus anderen Tälern gedacht, die zum Prasun-Tempel pilgerten."
		name="_ftn_GoBack7"><span class="cs519E05AF"><sup>[8]</sup></span></a><span
		class="cs519E05AF"> hinauf! Die Regenwolke wird zu warmem
		Regen.
		</li>
		<li>Setz du dich dorthin! Der Eisberg wird schmelzen, du schau
			hinunter und, nachdem du ausgekundschaftet hast, nimm den Mann und
			bring ihn zu mir!&ldquo;</li>
		<li>Disni ging hoch. Das Eis schmolz weg.</li>
		<li>Sie schaut hinab: ein Mann hatte mitten im See einen Stuhl
			abgestellt und sa&szlig; pr&auml;chtig gewandet
	</span><a href="#_ftn8" title="Wörtl.: „prächtige Kleidung gemacht habend“."
		name="_ftn_GoBack8"><span class="cs519E05AF"><sup>[9]</sup></span></a><span
		class="cs519E05AF"> auf dem Stuhl.
		</li>
		<li>Jetzt schaut Disni verwundert hinein, in ihrem Sinn dachte
			sie so: &bdquo;Diesen muss ich nehmen und gehen.&ldquo;</li>
		<li>Disni sprach so: &bdquo;Mǝnǰem Mǝleg rief nach dir. Steh auf,
			wir gehen!&ldquo;</li>
		<li>Z&uuml;zum sprach zu Disni: &bdquo;Warum kommst du denn
			hierher? Hier ist doch mein reines Tal!
	</span><a href="#_ftn9" title="Wörtl.: „habe ich hier nicht ein reines Tal?“"
		name="_ftn_GoBack9"><span class="cs519E05AF"><sup>[10]</sup></span></a><span
		class="cs519E05AF"> Warum wirst du auf deinen unreinen
		F&uuml;&szlig;en</span><a href="#_ftn10"
		title="Wörtl.: „deinen schlechten Fuß aufsetzend“, gemeint ist, dass Disni als Frau keinen Zutritt zu Züzums reinem Ort hat."
		name="_ftn_GoBack10"><span class="cs519E05AF"><sup>[11]</sup></span></a><span
		class="cs519E05AF"> zu meinem See kommen?&ldquo;
		</li>
		<li>Disni sprach: &bdquo;Mǝnǰem Mǝleg, nachdem er nach Opozıg
			Ḍuru talabgekommen, seinen Goldstuhl aufgestellt und sich gesetzt
			hat, hat die G&ouml;tter des ganzen Tals versammelt, sich gesetzt
			(und wartet).</li>
		<li>Mich (und) dich hat er gerufen, wir werden gehen.&ldquo;</li>
		<li>Z&uuml;zum sprach dies: &bdquo;Ich gehe nicht
			hinunter.&ldquo; Disni sprach: &bdquo;Wir werden gehen!&ldquo;</li>
		<li>Z&uuml;zum spricht dies: &bdquo;Mit dir hinuntergehen ist mir
			nicht m&ouml;glich
	</span><a href="#_ftn11"
		title="peptenˈīg na wičugˈa-lam „ich kann nicht hinuntergehen“, wörtl. anscheinend: „ich lasse nicht hinausgehen hinunterzugehen“. Hier ist gemeint, dass Züzum nicht zusammen mit Disni das reine Gebiet verlassen kann. Sonst: wičuga na lam „ich habe keine Zeit zu …“."
		name="_ftn_GoBack11"><span class="cs519E05AF"><sup>[12]</sup></span></a><span
		class="cs519E05AF">. Ich werde auf eigene Faust kommen. Du geh
		immer hinab!&ldquo;</span><a href="#_ftn12" title="pewištˈočǝs Iterativ."
		name="_ftn_GoBack12"><span class="cs519E05AF"><sup>[13]</sup></span></a><span
		class="cs519E05AF">
		</li>
		<li>Disni kam herab. Am tiefstgelegenen Tal-Ende talauf macht sie
			einen goldenen Turm, tritt ein (und wartet).</li>
		<li>Als sie hinaushorchte, bebte das Tal.</li>
		<li>Sie wunderte sich. Sie floh. Talaufw&auml;rts erschien sie
			oben.</li>
		<li>Sie schaute talab (zur&uuml;ck): unten im Tal durchquerte ein
			Wolkenhaufen (den Fluss
	</span><a href="#_ftn13"
		title=" Die Präfixe tü- von tüšpyogso und danach li- in liptogso zeigen, dass der Wolkenhaufen in den Fluss hineingeht, ihn durchquert und wieder aufsteigt."
		name="_ftn_GoBack13"><span class="cs519E05AF"><sup>[14]</sup></span></a><span
		class="cs519E05AF"> und) stieg (wieder) hoch.
		</li>
		<li>Als Disni talab schaute, wunderte sie sich. Sie floh (weiter)
			nach oben.</li>
	<li>Sie drehte sich um und schaute talab: oben auf dem
			Wolkenhaufen sitzt Z&uuml;zum.</li>
		<li>Z&uuml;zum sagte: &bdquo;O Disni, wo bist du?&ldquo;</li>
		<li>Disni sprach dies: &bdquo;Ich floh, du kommst in anderer
			Gestalt
	</span><a href="#_ftn14" title=" Wörtl.: „anders geworden seiend“."
		name="_ftn_GoBack14"><span class="cs519E05AF"><sup>[15]</sup></span></a><span
		class="cs519E05AF">, ich f&uuml;rchtete mich, ich floh.&ldquo;
		</li>
		<li>Z&uuml;zum sprach so: &bdquo;Ich bin es.&ldquo;</li>
		<li>Disni ging talabw&auml;rts, sie stellte sich ins Tal
			talabw&auml;rts hin.</li>
	<li>Z&uuml;zum sprach dies: &bdquo;Du geh weiter talauf! Ich will
			hinabgehen, und wenn ich in den Fluss hinuntergelangt (und wieder)
			zur&uuml;ckgekommen bin, dann will ich reden, jetzt habe ich keine
			Zeit.&ldquo;</li>
		<li>Er ging hinab, in den Fluss gelangte er hinab, wandte sich
			um, kam zur&uuml;ck
	</span><a href="#_ftn15"
		title="Wörtl.: „sich nah-schräg-hoch-gewandt habend“."
		name="_ftn_GoBack15"><span class="cs519E05AF"><sup>[16]</sup></span></a><span
		class="cs519E05AF"> zu ihr und stellte sich hin.
		</li>
		<li>Z&uuml;zum sprach: &bdquo;Was willst du mit mir tun?
	</span><a href="#_ftn16" title="Wörtl.: „Wohin wirst du mich bringen?“"
		name="_ftn_GoBack16"><span class="cs519E05AF"><sup>[17]</sup></span></a><span
		class="cs519E05AF"> Ich kam.&ldquo;
		</li>
		<li>Disni sprach: &bdquo;Geh talauf voraus los! Mǝnǰem Mǝleg in
			Opozıg Ḍuru hat gerufen, wir werden talauf gehen.&ldquo;</li>
		<li>Z&uuml;zum ging talauf los. Talauf angekommen, trat er zu
			Mǝnǰem Mǝleg.</li>
		<li>Er ehrte ihn,
	</span><a href="#_ftn17"
		title="Worin die Ehrung wuluzgi- bestand, wusste niemand genau, Informanten vermuteten, es handele sich um Umarmen, Küssen, Verbeugen mit Hand auf der Stirn."
		name="_ftn_GoBack17"><span class="cs519E05AF"><sup>[18]</sup></span></a><span
		class="cs519E05AF"> er legte [die Hand] an die Stirn hoch,
		gr&uuml;&szlig;te ehrfurchtsvoll und stellte sich talauf hin.
		</li>
		<li>Es sagte Mǝnǰem Mǝleg: &bdquo;Bist du gekommen? Bist du
			wohlbehalten gekommen?&ldquo;
	</span><a href="#_ftn18"
		title="Bis 1970 und wohl auch später übliche Grußformel"
		name="_ftn_GoBack18"><span class="cs519E05AF"><sup>[19]</sup></span></a><span
		class="cs519E05AF">
		</li>
		<li>Einen gro&szlig;en Stuhl stellte er auf (und) sagte:
			&bdquo;Setz dich!&ldquo;, bei sich lie&szlig; er (ihn) sitzen.</li>
		<li>Mǝnǰem Mǝleg hielt eine Versammlung ab. Sein Wort, was immer
			er auch gesagt hat, bejahten sie.</li>
		<li>Sie erhoben die H&auml;nde,
	</span><a href="#_ftn19"
		title="Wörtl.: „Die Hände nach oben haben schauen lassend“: kafirische Gebetsgeste mit erhobenen Händen, die Handflächen nach oben gerichtet."
		name="_ftn_GoBack19"><span class="cs519E05AF"><sup>[20]</sup></span></a><span
		class="cs519E05AF"> zogen (sie &uuml;ber das Gesicht) hinab und
		gingen hinaus, jeder in (sein) Tal. Mǝnǰem Mǝleg ging in sein Tal</span><a
		href="#_ftn20"
		title="Mǝnǰem Mǝleg hatte seine Stätte vermutlich in Wušüt (Kštöki). Aus anderen Erzählungen wird deutlich, dass die Götterversammlung die Neuordnung des Jahres bewirken und die Menschen der Urzeit vor zu viel Kälte schützen sollte. Der Eisgott Züzum wurde in den Kreis der Götter aufgenommen und seine Herrschaft auf den Winter beschränkt. So wurde er, da er zustimmte, zum Gott der Winterkälte. Noch 1956 berichtete ein alter Mann G. B., er habe Züzum in einem gewaltigen Schneesturm talab jagen sehen (Buddruss 1960, 27)."
		name="_ftn_GoBack20"><span class="cs519E05AF"><sup>[21]</sup></span></a>
	</li>
	</ol>
	</p>
</div>