<div th:fragment="deu004" class="deu004">
	<h5 class="cs700F083A">
		<span class="cs9650F980">Text 4 Eheschluss bei den Kafiren</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>Ein Mann heiratete eine Frau.</li>
				<li>Nun holt er sie nach Hause.</li>
				<li>Nun ging er nach ...(?).</span><a href="#_ftn0" title="Vor der Postposition tā „nach, um“ (z. B. Holz etc.) ist ein Wort zu erwarten, das hier zu fehlen scheint. Möglich ist die Interpretation von itˈī nicht als Adverb „nun“, sondern als „Messer“: „Er ging ein Messer (holen, das er zum Schlachten brauchte).“"
			name="_ftn_GoBack0"><span class="cs519E05AF">[1]</span></a><span
			class="cs519E05AF"></li>
		<li>Ein St&uuml;ck Vieh genommen habend, ging er.</li>
		<li>Nun erhoben sie die H&auml;nde (zum Gebet) und schlachteten
				(das Tier im Hause des Schwiegervaters).</li>
		<li>Am (n&auml;chsten) Tag stehen sie auf und machen sich fertig.</li>
		<li>Sie wandten sich rechts hinein, (der Ehemann) holte und trug
				die Frau ins Haus.</li>
		<li>Sie gingen in ihr Haus hinein.</li>
		<li>(Der Ehemann) holte 24 Ziegenb&ouml;cke.</li>
		<li>Er erhob die H&auml;nde, schlachtete und warf (das Fleisch)
				hin.</li>
		<li>Nun rief er die Dorfleute. Er bewirtete sie.</li>
		</ol></span>
	</p>

	</html>