<div th:fragment="deu003" class="deu003">
	<h5 class="cs700F083A">
		<span class="cs9650F980">Text 3 Preislied auf einen
			Verdienstfestgeber</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>In die Almh&uuml;tte hochgestiegen seiend, hat ein Mann
					sieben K&uuml;he.</li>
				<li>Rechts (in Querrichtung des Tales, talaufw&auml;rts
					blickend) von</span><span class="cs5688BE4F">ǝḍu lo&scaron;ẽ</span><a
			href="#_ftn0"
			title="Was der Name ǝḍu lošẽ bezeichnet, einen Bach oder eine Alm, ist nicht klar."
			name="_ftn_GoBack0"><span class="cs519E05AF"><sup>[1]</sup></span></a><span
			class="cs519E05AF"> steht eine gro&szlig;e Eiche.
			</li>
		<li>An der Stelle baute er eine Almh&uuml;tte.</li>
		<li>Jener Mann hei&szlig;t Blinder-Dū̃gˈū.</li>
		<li>Jeden Tag f&uuml;llt er ein Ma&szlig; (mit Milch) und stellt
				es talauf hin.</li>
		<li>Er lud alle sechs D&ouml;rfer von Prasun ein. Der Herbst kam.</li>
		<li>Er veranstaltete ein (bestimmtes) Verdienstfest.</li>
		<li>(Er setzte sich auf den Stuhl)
		</span><span class="cs5688BE4F">sidĩ</span><span class="cs519E05AF">
			und band das rote Band </span><span class="cs5688BE4F">sidĩ</span><span
			class="cs519E05AF"> (um die Gamaschen)</span><a href="#_ftn1"
			title="sidĩ bezeichnet sowohl ein Band als auch einen Stuhl, beide dienen der Auszeichnung verdienter Männer. Der Text legt durch das Verb lawǝrj- „hoch-binden“ nahe, dass es sich hier um das Band handelt. Dagegen war in mündlichen Erklärungen von einem Stuhl die Rede. Die Übersetzung versucht beide Deutungen zu vereinen."
			name="_ftn_GoBack1"><span class="cs519E05AF"><sup>[2]</sup></span></a><span
			class="cs519E05AF">.
			</li>
		<li>Sein Name wurde gro&szlig;.</li>
		</ol>
		</span>
	</p>
</div>