<div th:fragment="prn004" class="prn004">
	<h5 class="cs700F083A">
		<span class="cs9650F980">Text 4 Eheschluss bei den Kafiren</span><a
			href="#_ftn0" title="Erzähler: Durmat." name="_ftn_GoBack0"><span class="cs9650F980"><sup>[1]</sup></span></a>
	</h5>
	<p class="cs80D9435B" style="tab-stops: left 100.3pt;">
		<span class="cs519E05AF"><ol>
				<li>atig wǝǰǰimˈī atig wǝstˈī pulyˈogo.</li>
				<li>itˈī t-arˈǝg gǝzmˈaso.</li>
				<li>itˈī tā pǝzˈogso.</li>
				<li>atig ṣǝ atˈī pǝzˈogso. &nbsp;</li>
				<li>itˈī lust lyenjewˈī amǰˈogust.</li>
				<li>obˈ&uuml;ŋya ličˈī laṭogmˈast.</li>
				<li>sorˈogust, tak pčī wǝstˈī&scaron; t-arˈeg pčˈego.</li>
				<li>mi&scaron;in t-arˈeg t&uuml;&scaron;čerˈogust.</li>
				<li>čpoež g&ouml;ṣ gǝzˈogo.</li>
				<li>lust lyenjiwˈī amǰˈ&uuml; ǝskyˈego.</li>
				<li>itˈī gˈǝman c̣ālyˈego. abˈǝg aplyˈego.</li>
			</ol> 
		</span>
	</p>
</div>
