<div th:fragment="prn005" class="prn005">
	<h5 class="cs700F083A">
		<span class="cs9650F980">Text 5 G&uuml;&scaron;&uuml;nǰog</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>atig G&uuml;&scaron;č&uuml;nǰˈog wˈǝsa. tiptˈī-wuptīčigˈa</span><a
			href="#_ftn0" title="Für: wuptočigˈa." name="_ftn_GoBack0"><span class="cs519E05AF"><sup>[1]</sup></span></a><span
			class="cs519E05AF">-wǝsˈa.
			</li>
			<li>atig ǝwˈa &uuml;&scaron;tyˈ&uuml;b-pan leptˈogso.</li>
			<li>atig purdˈī abˈe&scaron;tya kuẓˈū-pan &uuml;tˈogso
		</span><a href="#_ftn1" title="Oder: ütyˈogso." name="_ftn_GoBack1"><span class="cs519E05AF"><sup>[2]</sup></span></a><span
			class="cs519E05AF">.
			</li>
			<li>&bdquo;G&uuml;&scaron;&uuml;nǰog, ǝwa pejˈǝ!&ldquo; lyˈogo.
				purdˈī&scaron; atig ǝwa pejˈogo.</li>
			<li>purdˈī ari kulyˈogo: &bdquo;ti-bˈim pijogˈa na
				oyˈigsmo&rdquo; lyˈogo.</li>
			<li>G&uuml;&scaron;&uuml;nǰog kulyˈogo: &ldquo;ps-pan pejemˈa
				&uuml;o oinig-la&scaron;?&ldquo;</li>
			<li>purdˈī kulyˈogo: &bdquo;tu-ẓˈum pejˈe, čk&uuml;
				oyˈẹmo!&ldquo; G&uuml;&scaron;&uuml;nǰˈog tu-ẓˈum pejˈogo.</li>
			<li>&bdquo;na oyˈigsmo&ldquo; purdˈī lyˈogo. &bdquo;o
				ži&scaron;tyˈa ps-pan pejemˈa oinig-la&scaron;?&ldquo;</li>
			<li>ži&scaron;t kolyˈogo: &bdquo;ˈīs-pan sojomˈā
				oinig-lˈamo.&ldquo; G&uuml;&scaron;&uuml;nǰog ˈīs-pan sojˈogo.</li>
			<li>ži&scaron;t kolyogo: &bdquo;ˈīs-pan sojˈog na
				oinig-lˈamo.&ldquo; &ndash; &bdquo;ps-pan pejemˈa
				oinig-la&scaron;?&ldquo; &ndash;</li>
			<li>&bdquo;ċˈāga bipunˈīg biprˈig bipuwˈī ċǝwˈǝg-pan sāanjewˈī
				&uuml;o apˈī ǰī salˈī sāačelomˈa čk&uuml; oinig-lˈamo.&ldquo;</li>
			<li>G&uuml;&scaron;&uuml;nǰog krǝk lyˈogo. purdī
				G&uuml;&scaron;&uuml;nǰˈog&scaron; ċǝwˈǝg-pan sāpetˈ&uuml; ċak
				tyˈego.</li>
			<li>t-arˈig p&scaron;čˈego, kˈū-pan a&scaron;lewˈogo.</li>
			<li>gǝndar werˈī wočuwˈī ṭǝpˈā-pan t-inig atyˈego.</li>
			<li>G&uuml;&scaron;&uuml;nǰˈog&scaron; p&ouml;p&uuml;tyˈogo.</li>
			<li>anˈig ǝskyˈego, G&uuml;&scaron;&uuml;nǰˈog t&uuml;kočˈogso
				(G&uuml;&scaron;&uuml;nǰˈog&scaron; t&uuml;kučˈogo).</li>
			</ol>
		</span>
	</p>
</div>
