<div th:fragment="prn002" class="prn002">
	<h5 class="cs700F083A">
		<span class="cs9650F980">Text 2 Disnis Gang zum Eisgeist</span><a
			href="#_ftn0" title="Erzähler: Abdur Rahim" name="_ftn_GoBack0"><span class="cs9650F980"><sup>[1]</sup></span></a>
	</h5>
	<p class="cs80D9435B" style="tab-stops: left 100.3pt;">
		<span class="cs519E05AF"><ol>

				<li>Opozˈık tu-Ḍˈūr Mәnǰˈem Mәlˈeg noċˈogso, Opozˈık tu-Ḍˈur
					a&scaron;lˈegso</span><a href="#_ftn1" title="Oder: ašlyogso." name="_ftn_GoBack1"><span
			class="cs519E05AF"><sup>[2]</sup></span></a><span class="cs519E05AF">.
			</li>
			<li>Dˈīsnī&scaron; tu-gˈul lˈesċego
		</span><a href="#_ftn2" title="Oder: lesċˈego." name="_ftn_GoBack2"><span class="cs519E05AF"><sup>[3]</sup></span></a><span
			class="cs519E05AF">.
			</li>
			<li>Dˈīsnī&scaron; arˈi pulˈogo Mәnǰˈәm Mәlˈәk: &bdquo;әskˈala
				&uuml;zˈ&uuml; bәs p&ouml;imˈaso
		</span><a href="#_ftn3" title="pömaso wurde 1970 geändert in pöimˈaso („kommt aus der Nähe herab“ ist im Zusammenhang nicht plausibel)." name="_ftn_GoBack3"><span class="cs519E05AF"><sup>[4]</sup></span></a><span
			class="cs519E05AF">. &uuml;o leptˈī wyenjˈǖ-wōnjˈ&uuml; čū
			w&uuml;r&uuml;&ouml;lˈ&uuml;</span><a href="#_ftn4" title=" Feierlich für: würelˈi." name="_ftn_GoBack4"><span
			class="cs519E05AF"><sup>[5]</sup></span></a><span class="cs519E05AF">
			әm-pa aċ!&ldquo;
			</li>
			<li>Dˈīsnī leptˈogso. atig čk&uuml;r wut nonˈi so.</li>
			<li>žinzˈī-ninzˈī na wolˈogso. atilˈī pyerˈǖ apˈeċogso. Opuzˈık
				tu-Ḍˈur Mәnǰˈǝm Mәlˈek-pa āċˈogso.</li>
			<li>kolyˈogo: &bdquo;unzˈū wut linˈig na wolˈogsum, wut na
				gˈāso.&ldquo; &nbsp;</li>
			<li>Mәnǰˈem Mәlˈeg arˈi pulˈogo: &bdquo;lužˈũ to-mˈunǰ kaṭˈa
				әṣṭˈәg &uuml;ˈo-sċ; &uuml;u na wolˈi-ṭkoma atˈәs wәǰǰimˈī
				wolnīg-nˈā-last.&ldquo;</li>
			<li>Dˈīsnī leptˈogso. i&scaron;tˈ&uuml;r wījˈī žāreg-pˈan
				latˈego. &nbsp;</li><li>l&ouml;g wәz olˈ&uuml; sa&scaron;čˈego.
				lenjˈī-pyenjimˈiso.</li>
			<li>lāc̣ kum lyˈogo, siwˈũ kum lyˈogo, na byetˈat byetˈat
				lyˈogo. lonosˈogso.</li>
			<li>atˈǖri tyenjˈogso. mˈi&scaron; ižˈĩ anjenˈīg-pan atˈig
				&uuml;zˈǖ k&scaron;tyū worˈī līptˈī t-&uuml;gyˈok tepte
				&scaron;ilˈegso</span><a href="#_ftn5" title=" Mit Vokalassimilation für: tiptˈa šilˈegso „setzte an, hineinzugehen“." name="_ftn_GoBack5"><span
			class="cs519E05AF"><sup>[6]</sup></span></a><span class="cs519E05AF">.</li>
			<li>sim nˈāznogo
		</span><a href="#_ftn6" title="Für na ǝznˈogo." name="_ftn_GoBack6"><span class="cs519E05AF"><sup>[7]</sup></span></a><span
			class="cs519E05AF">. tigˈegso, tigˈe</span><a href="#_ftn7" title="üblicher: tigyˈo"
			name="_ftn_GoBack7"><span class="cs519E05AF"><sup>[8]</sup></span></a><span
			class="cs519E05AF"> tige tiptˈogso, &uuml;zˈ&uuml;
			k&scaron;tyˈū-pan sāpˈogso,
			</li>
			<li>lenjˈī-penjimˈiso, sim nˈāznogo. &uuml;omˈū
		</span><a href="#_ftn8" title=" Ungewöhnliche Variante für: ümˈū, imˈū." name="_ftn_GoBack8"><span class="cs519E05AF"><sup>[9]</sup></span></a><span
			class="cs519E05AF"> tityˈogo &uuml;zˈǖ k&scaron;tyˈū-pan:
			wiǰǰәmˈī c̣ā bǝs ayego, ṣә c̣ā bes ˈāyego.</li>
			<li>atilˈǖ (atilˈī) w&uuml;rˈǖ pyeċˈogso, Opozˈık tu-Ḍˈur
				Mәnǰˈem Mǝlˈeg-pa aċˈogso.</li>
			<li>Mәnǰˈem Mǝlˈeg arˈi pulˈogo: &ldquo;lužˈũ tu-mˈunǰ kaṭˈa
				wikṣˈī lesċˈẹma &uuml;ū pse na wolˈogne al
				ˈānig-elˈa&scaron;?&ldquo;</li>
			<li>Dˈīsnī pulˈogo: &bdquo;unzˈū na wolˈogsum, &uuml;z&uuml;
				k&scaron;tˈū so, ǝm tu-lustˈa na gˈāso, na wolˈogsum.</li>
			<li>&uuml;o Mǝnǰem Mǝleg kˈaṭ la&scaron;, &uuml;tˈe&scaron; ṣu
				ajˈom, unzˈū na wolˈogsum.&ldquo;</li>
			<li>Mǝnǰem Mǝleg pulmˈaso Dˈīsnī&scaron;, mˈi&scaron; kǝmǝr
				puskˈa-pan saṭˈogso, Mǝnǰem Mǝleg čǝčel mar tipˈī tu-lˈust aplyˈego
				Dˈīsnī&scaron;:</li>
			<li>&bdquo;arˈi lepčˈī tu-gˈul lyoṭogˈı
		</span><a href="#_ftn9" title="Die Lautung des Präverbs lyo- in lyoṭogˈı und lyopˈoi ist eine ungewöhnliche Variante für lo-." name="_ftn_GoBack9"><span class="cs519E05AF"><sup>[10]</sup></span></a><span
			class="cs519E05AF"> ari &uuml;zi k&scaron;tˈū-pan lyopˈoi arˈi
			a-d&uuml;lˈū lisċˈe. &scaron;čil mar orˈom ǝgˈal agˈaso.
			</li>
			<li>&uuml;u &ouml;slˈa&scaron;lis (&ouml;slˈǝ a&scaron;lis)!
				&uuml;z&uuml; k&scaron;tū wiligˈaso, &uuml;o pyenjˈe-dẹ
				w&uuml;r&uuml;&ouml;lˈǖ wǝǰǰimˈī&scaron; atˈī ǝm-pˈa gǝzˈǝ!&ldquo;</li>
			<li>Dˈīsnī leptˈogso. &uuml;zǖ wilˈī aptˈogso.</li>
			<li>pyenjimˈiso: atˈig wǝǰǰimˈī sur to-mˈunǰ kū bitˈī kaṭˈa
				žˈiċen lī kˈū-pan a&scaron;lˈegso.</li>
			<li>itˈī Dˈīsnī tak wirewˈī tyenjimˈiso, mi&scaron; t&uuml;-bˈǖd
				krǝk bˈogso: &bdquo;arˈi&scaron; atˈī p&scaron;ǝnˈig so.&ldquo;</li>
			<li>Dˈīsnī arˈi pulyˈogo: &bdquo;Mǝnǰem Mǝlǝg
				&uuml;tyˈ&ouml;&scaron;
		</span><a href="#_ftn10" title="ütyˈöš ist die Form des Dialekts von I., sonst ütˈeš." name="_ftn_GoBack10"><span class="cs519E05AF"><sup>[11]</sup></span></a><span
			class="cs519E05AF"> c̣ālyego. ličˈǝs pǝzˈẹm&scaron;o!&ldquo;
			</li>
		<li>Z&uuml;zˈum pulˈogo Dˈīsnī&scaron;: &bdquo;&uuml;o al ps-ag
				āmǝ-rˈa-sċ, al sučˈū gul nˈa-lam-eĩ! ī ḍigǝr ṭǝ bidimˈo ǝm sur-pan
				ps-ag ānīg-(e)lˈa&scaron;?&ldquo;</li>
			<li>&nbsp;Dˈīsnī pulyˈogo: &bdquo;Mǝnǰem Mǝleg Opozıg tu-Ḍˈur
				nˈoċˈī mi&scaron; siwˈũ kū bitˈī a&scaron;lˈī gul-gˈul
				lọ̄ižũlugˈan
		</span><a href="#_ftn11" title=" lọ̄ižũ ist eine ungewöhnliche Variante von lužũ." name="_ftn_GoBack11"><span class="cs519E05AF"><sup>[12]</sup></span></a><span
			class="cs519E05AF"> tiẓguwˈī a&scaron;lˈī ozmˈaso.
			</li>
			<li>ǝndˈe&scaron; &uuml;tˈe&scaron; c̣alyeg-lˈa,
				pǝznig-lam&scaron;!&ldquo;</li>
			<li>Z&uuml;zˈum arˈi pulyˈogo: &bdquo;unzˈū
				peptiga-nˈa-sǝm!&ldquo; Dˈīsnī pulyˈogo:
				&bdquo;pǝznˈīg-lam&scaron;!&ldquo;</li>
			<li>Z&uuml;zˈum arˈi pulmˈaso: &bdquo;ˈī-pan peptenˈīg na
				wičugˈa-lam, unzˈū ǝm lusta ānīg-lam. &uuml;o
				pewi&scaron;tˈočǝs!&ldquo;</li>
			<li>Dˈīsnī pyeċˈogso. gul pyeṭˈogog-pan ǰarˈeg-pan sˈ&uuml;̄nyˈa
				&ouml;yˈu lī tiptˈī ozmˈiso.</li>
			<li>&uuml;omˈū wityˈema gul aẓoẓˈogso.</li>
			<li>tak wirˈogso. &uuml;čosˈogso. žatẽ žˈāreg-pˈan lānosˈogso.</li>
			<li>nyenjˈogso: gul pyeċˈog-panˈī mar kuṇḍˈī
				t&uuml;&scaron;pyˈogso, liptˈogso.</li>
			<li>Dˈīsnī nyenjˈī tak wiryˈogso. alˈagi &uuml;čosˈogso.</li>
			<li>sap otilˈī nyenjˈogso: mar kumḍˈī (!)-panˈī lˈipoṭeg
				Z&uuml;zˈum a&scaron;lˈī ozmˈaso.</li>
			<li>Z&uuml;zˈum &bdquo;ˈo Dīsnī tˈemisċ?&ldquo; lyˈogo.</li>
			<li>Dˈīsnī arˈi pulyˈogo: &bdquo;unzˈū &uuml;čosˈogsum, &uuml;o
				welˈewī āmasċ-amǝ̃; aptˈerogsum, &uuml;čosˈogsum.&ldquo;</li>
			<li>Z&uuml;zˈum arˈi pulyˈogo: &bdquo;unzˈū sum.&ldquo;</li>
			<li>Dˈīsnī neptˈogso, to-gˈul netyˈogso.</li>
			<li>Z&uuml;zˈum ari pulyˈogo: &bdquo;&uuml;o žˈāžečas! unzˈū
				beptˈẹm-dī, to-gulˈaw beṭogˈı, lorˈī čk&uuml; wǝrˈī wǝrˈī wˈẹmo,
				itˈī sas na lam.&ldquo;</li>
			<li>beptˈogso. to-gulˈāw beṭogˈogso, atilˈī lorˈī
				sǝmˈi&scaron;-pa aċˈī &uuml;tyˈogso.</li>
			<li>Z&uuml;zum pulˈogo: &bdquo;ǝndˈe&scaron;
				te-pčinig-la&scaron;? aċogsum!&ldquo;</li>
			<li>Dˈīsnī pulˈogo: &bdquo;žitāsˈig wī žiwˈi&scaron;t! Mǝnǰˈem
				Malˈǝg Opozıg tu-Ḍˈur c̣alˈeg-la, ažˈiptinig-lam&scaron;.&ldquo;</li>
			<li>Z&uuml;zˈum žiwi&scaron;tyˈogso. žopˈoi Mǝnǰǝm Mǝlˈeg-pa
				&uuml;tyˈogso.</li>
			<li>wuluzgyˈego t-ūtˈī litˈī solˈom lī žatyˈogso.</li>
			<li>kolyˈogo Mǝnǰˈǝm Mǝlˈeg: &bdquo;aċˈogosċ-ī?
				&uuml;&scaron;č&uuml;mˈoga aċˈogosċ-ī?&ldquo;</li>
			<li>atˈig gˈǝndar kū bītˈī &bdquo;a&scaron;lˈis&ldquo; lˈego,
				mi&scaron;-pan apˈī a&scaron;liwˈogo.</li>
			<li>Mǝnǰˈǝm Mǝlˈeg darbˈar lyˈego. sǝmˈi&scaron; werˈī&scaron;
				ps-kolˈog-po-la-ro ogˈo lǝgˈust.</li>
			<li>lust lyenjǝwˈı bikoṣˈī yās tu-gˈul wigˈogust
		</span><a href="#_ftn12" title="Üblicher: wigyˈogust." name="_ftn_GoBack12"><span class="cs519E05AF"><sup>[13]</sup></span></a><span
			class="cs519E05AF"> (pǝzˈogust). Mǝnǰˈǝm Mǝlˈeg mi&scaron;
			to-gˈul pǝzˈogso.
			</li>
			</ol>
		</span>
	</p>
</div>
