<div th:fragment="prn003" class="prn003">
	<h5 class="cs700F083A">
		<span class="cs9650F980">Text 3 Preislied auf einen
			Verdienstfestgeber</span><a href="#_ftn0" title=" Erzähler: Abdur Rahim." name="_ftn_GoBack0"><span
			class="cs9650F980"><sup>[1]</sup></span></a>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>to-wǝṭ leptˈī atig wǝǰǰimˈī sǝt gọ̄ṭ la.</li>
				<li>ǝḍu lo&scaron;ẽ saṭogˈog-pan gandˈar ẓik (ǝẓˈik) so.</li>
				<li>ǝstlˈeg werˈī-pan wǝṭ lyˈego.</li>
				<li>ǝstlˈǝg wǝǰǰimˈī Kǝ̃-Dū̃gˈū nǝm so.</li>
				<li>obˈ&uuml;ŋya gunˈīg kǝžiwˈaž arˈi žatigˈaso.</li>
				<li>wuẓ gul Wasyˈen c̣ālyˈego. &scaron;iryˈe pˈogso.</li>
				<li>&scaron;iryˈog-wā lyˈego.</li>
				<li>sidĩ lawǝrjˈego.</li>
				<li>nǝm k&scaron;teiwˈogso.</li>
			</ol></span>
	</p>
</div>