<div th:fragment="prn001" class="prn001">
	<h5 class="cs700F083A">
		<span class="cs9650F980">Text 1 (Nacherz&auml;hlung)</span><a
		href="" title="Nach Rosen 1915, 55."   name="_ftn_GoBack0"><span class="cs9650F980"><sup>[1]</sup></span></a>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF">
			<ol class="text-left">
				<li>atig wәrǰimˈī wuṣeligˈa-pa pәzˈogso.</li>
				<li>wuṣeligˈa agidyˈogo: &bdquo;ps-wolumˈaso
					&uuml;tˈe&scaron;?&ldquo;</li>
				<li>alˈәg wәrǰimˈī kulyˈogo: &bdquo;&uuml;l wolumˈaso&ldquo;
					lyˈego.</li>
				<li>wuṣeligˈa agidyˈogo: &bdquo;itˈī obˈ&uuml;ŋya &uuml;o
					ps-oyˈog-la&scaron;?&ldquo;</li>
				<li>alәg wәrǰimˈī wuṣeligˈa&scaron; atāwˈogo: &bdquo;unzˈū itˈī
					obˈ&uuml;ŋya tiliwˈog abˈәg oyog-lˈamo.&ldquo;</li>
				<li>wuṣeligˈa ižˈī-pan wuṣˈū awičˈa &scaron;ilˈegso.</li>
				<li>alˈәg wәrǰimˈī agidyˈogo: &bdquo;әndˈe&scaron; &uuml;l
					wolomˈaso, әndˈe&scaron; ižˈī-pan psˈele wuṣu wuwučimˈā-ra?&rdquo;</li>
				<li>wuṣeligˈa kulyˈogo: &bdquo;tˈa&scaron;če ī ižˈī&scaron;
					&scaron;čˈ&ouml;li limˈasmo.</li>
				<li>&uuml;o ižˈī &scaron;čˈ&ouml;li wˈi-ṭkoma tiliwˈog abˈәg
					psˈele oyomā-rˈe-sċ?&ldquo;</li>
				</ol>
		</span>
	</p>
</div>