<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Buchansicht</title>


<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/prasuni.css" rel="stylesheet">

</head>
<body>
<table class="table">
	<thead class="table table-sm">
		<tr>
			<td scope="col" class="align-middle">ISO 639-3</td>
			<td scope="col" class="align-middle">Alternate Names</td>
			<td scope="col" class="align-middle">Population</td>
			<td scope="col" class="align-middle">Location</td>
			<td scope="col" class="align-middle">Language Maps</td>
			<td scope="col" class="align-middle">Language Status</td>
			<td scope="col" class="align-middle">Classification</td>
			<td scope="col" class="align-middle">Dialects</td>
			<td scope="col" class="align-middle">Language Use</td>
			<td scope="col" class="align-middle">Language Development</td>
			<td scope="col" class="align-middle">Language Resources</td>
			<td scope="col" class="align-middle">Writing</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td scope="col" class="align-middle">prn</td>
			<td scope="col" class="align-middle">Parun, Paruni, Prasun, Vasi vari, Veron, Verou,
				Veruni, Wasi-Veri</td>
			<td scope="col" class="align-middle">8,000 (2011), increasing. 1,600 monolinguals.
				Ethnic population: 8,000.</td>
			<td scope="col" class="align-middle">Nurestan province: Sech, Shupu (Ishtivi,
				Shtevgrom), Ucu, Ushut, and Zumu villages; Prasun (Parun) valley on
				upper reaches of Pech river; small border area with Badakhshan
				province.</td>
			<td scope="col" class="align-middle">Afghanistan</td>
			<td scope="col" class="align-middle">6a (Vigorous).</td>
			<td scope="col" class="align-middle">Indo-European, Indo-Iranian, Nuristani</td>
			<td scope="col" class="align-middle">Upper Wasi-Weri (Ishtivi), Central Prasun, Lower
				Prasun (Pashki, Ushut). Related to Kati [bsh] but more archaic. The
				most aberrant Nuristani language. No mutual intelligibility of other
				Nuristani languages.</td>
			<td scope="col" class="align-middle">All domains. All ages. Positive attitudes. Also
				use Dari [prs], Southern Pashto [pbt].</td>
			<td scope="col" class="align-middle">Literacy rate in L2: 15%.</td>
			<td scope="col" class="align-middle">OLAC resources in and about Prasuni </td>
			<td scope="col" class="align-middle">Unwritten [Qaax].</td>
		</tr>
	</tbody>
</table>
	<!-- Bootstrap core JavaScript -->
	<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
	<script src="jquery/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="js/turn.min.js"></script>
</body>

</html>
