<div th:fragment="deu006" class="deu006">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A1 Der kafirische M&uuml;nd</span><a
			href="#_ftn0"
			title="Vgl. Strand, Topics, [16] „Former Religious Functionaries“."
			name="_ftn_GoBack0"><span class="csFAF3A986"><sup>[1]</sup></span></a>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>Die sechs Prasun-D&ouml;rfer haben das Pǝzgim-ǝmǝl als Ort
					der Māra-Verehrung.</span><a href="#_ftn1"
			title=" Wörtl.: „Ort, Māras Namen zu erkennen“." name="_ftn_GoBack1"><span
			class="cs519E05AF"><sup>[2]</sup></span></a><span class="cs519E05AF"></li>
		<li>Unser Gott ist</span><a href="#_ftn2"
			title="Wörtl.: „wir haben als Gott“." name="_ftn_GoBack2"><span
			class="cs519E05AF"><sup>[3]</sup></span></a><span class="cs519E05AF">
			Māra, der Sch&ouml;pfer, Ern&auml;hrer, Wohlt&auml;ter,</span><a
			href="#_ftn3" title=" Wörtl.: „Geber“." name="_ftn_GoBack3"><span
			class="cs519E05AF"><sup>[4]</sup></span></a><span class="cs519E05AF">
			Todbringer,</span><a href="#_ftn4"
			title="Wörtl.: „Zum-Sterben-Veranlasser“." name="_ftn_GoBack4"><span
			class="cs519E05AF"><sup>[5]</sup></span></a><span class="cs519E05AF">
			Spender von G&uuml;tern, Sch&ouml;pfer der Gesch&ouml;pfe,
			Sch&ouml;pfer des Himmels, Sch&ouml;pfer der Erde, Sch&ouml;pfer des
			Wassers, Sch&ouml;pfer des Feuers, Sch&ouml;pfer des Getreides.
			</li>
		<li>Noch einen anderen (solchen Gott) gibt es nicht.
		</span><a href="#_ftn5"
			title="Einzelne Prasun-Männer behaupteten, ihre vorislamische Religion sei bereits monotheistisch gewesen, weil Māra als höchster Gott galt. "
			name="_ftn_GoBack5"><span class="cs519E05AF"><sup>[6]</sup></span></a><span
			class="cs519E05AF"></li>
		<li>Die fr&uuml;heren M&auml;nner haben</span><a href="#_ftn6"
			title="Die Erzählung verwendet durchaus das Präsens."
			name="_ftn_GoBack6"><span class="cs519E05AF"><sup>[7]</sup></span></a><span
			class="cs519E05AF"> den Brauch, in das Pǝzgim-ǝmǝl
			einzutreten, den Sch&ouml;pfer</span><a href="#_ftn7"
			title="In Form der Statuen des Māra" name="_ftn_GoBack7"><span
			class="cs519E05AF"><sup>[8]</sup></span></a><span class="cs519E05AF">
			zu gr&uuml;&szlig;en und (ihn) mit den Worten &bdquo;Gib uns!&ldquo;
			zu rufen.
			</li>
		<li>Das Puẓut-ǝmǝl, - die fr&uuml;heren M&auml;nner haben den
				Brauch, auch dort Māra zu verehren, indem
		</span><a href="#_ftn8" title="Absolutiv: „nachdem sie gesagt haben“."
			name="_ftn_GoBack8"><span class="cs519E05AF"><sup>[9]</sup></span></a><span
			class="cs519E05AF"> diejenigen, die mit erhobenen H&auml;nden
			beten, &bdquo;Gib uns!&ldquo; sagen, weil sie glauben, dass</span><a
			href="#_ftn9" title="Wörtl.: „gesagt habend“." name="_ftn_GoBack9"><span
			class="cs519E05AF"><sup>[10]</sup></span></a><span class="cs519E05AF">
			Māra es auch im benachbarten</span><a href="#_ftn10"
			title="Wörtl.: „(als) Nachbar“. " name="_ftn_GoBack10"><span
			class="cs519E05AF"><sup>[11]</sup></span></a><span class="cs519E05AF">
			Pǝzgim-ǝmǝl zu h&ouml;ren pflegt.
			</li>
		<li>Wer auch immer ins
		</span><span class="cs5688BE4F">ǝmǝl</span><span class="cs519E05AF">
			einziehen mag, den Mann dort pflegen sie M&uuml;nd zu nennen.
			</li>
		<li>Die M&auml;nner dort pflegen &uuml;ber die dort liegenden
				Wiesen und Felder zu sagen: &bdquo;Es sind Māras Felder&ldquo;.</li>
		<li>Jener Mann (der M&uuml;nd) kann mit den Feldern tun, was er
				will.
		</span><a href="#_ftn11" title=" Wörtl.: „hat den Feldern seinen Sinn“.	"
			name="_ftn_GoBack11"><span class="cs519E05AF"><sup>[12]</sup></span></a><span
			class="cs519E05AF">
			</li>
		<li>Den anderen Sippen erlegt er Arbeit auf und ist (war) der
				&Auml;lteste.</li>
		<li>Wegen dieser Arbeit haben sie den Brauch, ihn M&uuml;nd zu
				nennen.</li>
		<li>Jener Mann ist &uuml;ber sie
		</span><a href="#_ftn12" title="Wörtl.: „in ihrem Kopf“."
			name="_ftn_GoBack12"><span class="cs519E05AF"><sup>[13]</sup></span></a><span
			class="cs519E05AF"> das Oberhaupt, um (ihnen) Arbeit
			aufzutragen.
			</li>
		<li>Heute pflegt man solche M&auml;nner
		</span><span class="cs5688BE4F">mansabdar</span><a href="#_ftn13"
			title="Pers. manṣabdār „Amtsinhaber“." name="_ftn_GoBack13"><span
			class="cs519E05AF"><sup>[14]</sup></span></a><span class="cs519E05AF">
			zu nennen, er ist </span><span class="cs5688BE4F">mansabdar</span><span
			class="cs519E05AF"> &uuml;ber sie. Diesen Mann nennt man (in
			fr&uuml;herer Zeit) M&uuml;nd.
			</li>
		<li>[Wie es zum Wechsel im M&uuml;nd-Amt kommt:] Ein weiterer
				Mann der Pǝzgim-Sippe (
		</span><span class="cs5688BE4F">tadba</span><span class="cs519E05AF">)
			pflegt, nachdem er einem anderen Mann eine gro&szlig;e Fackel
			gegeben, Wertsachen gegeben hat, jenen Mann abends zur
			Abendessen(szeit) ins Pǝzgim-ǝmǝl hinabzuschicken.
			</li>
		<li>Er pflegt die Fackel in die Feuerstelle zu legen.</li>
		<li>Die fr&uuml;heren M&auml;nner pflegen dies &bdquo;Er legte
				die Fackel hinein&ldquo; zu nennen.</li>
		<li>Am n&auml;chsten Morgen pflegt der im
		</span><span class="cs5688BE4F">ǝmǝl</span><span class="cs519E05AF">
			fr&uuml;her (bis zum jetzt erfolgenden Wechsel lebende) Mann, nachdem
			er aufgestanden ist, seine Familienangeh&ouml;rigen gesammelt hat
			(und) auch seine Sachen gesammelt hat, (aus dem </span><span
			class="cs5688BE4F">ǝmǝl</span><span class="cs519E05AF">)
			auszuziehen.
			</li>
		<li>Der Mann der Pǝzgim-Sippe, der (einem anderen Mann) eine
				Fackel gegeben und ihn (ins
		</span><span class="cs5688BE4F">ǝmǝl</span><span class="cs519E05AF">)
			hineingeschickt hat, pflegt, nachdem er seine Familie gesammelt (und)
			seine Sachen gesammelt hat, ins </span><span class="cs5688BE4F">ǝmǝl</span><span
			class="cs519E05AF"> einzuziehen.
			</li>
		<li>Jenen Mann pflegt man wieder (wie den fr&uuml;heren)
				Pǝzgim-M&uuml;nd zu nennen.</li>
		<li>Die M&auml;nner, die ausziehen, pflegt man mit ihrem
				fr&uuml;heren Namen, was immer er ist, zu nennen, ohne sie
				(weiterhin) Pǝzgim-M&uuml;nd zu nennen.</li>
		<li>Den ins
		</span><span class="cs5688BE4F">ǝmǝl</span><span class="cs519E05AF">
			einziehenden Mann nannten sie jetzt Pǝzgim-M&uuml;nd.
			</li>
		<li>Dieser Name &bdquo;M&uuml;nd&ldquo; ist diese Sache.</li>
		<li>Diese Sache, (jemanden zum) M&uuml;nd zu machen, ist Brauch
		</span><a href="#_ftn14" title="Wörtl.: „Werk“, „Aufgabe“. "
			name="_ftn_GoBack14"><span class="cs519E05AF"><sup>[15]</sup></span></a><span
			class="cs519E05AF"> in allen sechs Prasun-D&ouml;rfern.
			</li>
		<li>Diese Sippen-Sache d&uuml;rfen
		</span><a href="#_ftn15" title="Wörtl.: „sind (ihren) Sinn habend“."
			name="_ftn_GoBack15"><span class="cs519E05AF"><sup>[16]</sup></span></a><span
			class="cs519E05AF"> Arme und Reiche gleich (&uuml;bernehmen).
			</li>
		<li>Wenn sie einziehen, werden alle
		</span><a href="#_ftn16"
			title="D. h. das Amt ist nicht an Reichtum und entsprechende soziale Stellung gebunden. Vgl. allerdings Satz 26."
			name="_ftn_GoBack16"><span class="cs519E05AF"><sup>[17]</sup></span></a><span
			class="cs519E05AF"> einziehen.
			</li>
		<li>(Immer) wenn sie eintreten, zu den G&ouml;ttern die
				H&auml;nde (betend) zu erheben, Vieh zu schlachten, ein Fest
				auszurichten, Essen
		</span><a href="#_ftn17" title="Oder: „Dinge“. " name="_ftn_GoBack17"><span
			class="cs519E05AF"><sup>[18]</sup></span></a><span class="cs519E05AF">
			(als Geschenk) zu geben, ist eine gro&szlig;e Aufgabe.
			</li>
		<li>Ohne dies zu k&ouml;nnen, pflegen Arme nicht (als M&uuml;nd
				ins
		</span><span class="cs5688BE4F">ǝmǝl</span><span class="cs519E05AF">)
			einziehen zu k&ouml;nnen. Dieser Brauch</span><a href="#_ftn18"
			title="Wörtl.: „Arbeit“, „Werk“.	" name="_ftn_GoBack18"><span
			class="cs519E05AF"><sup>[19]</sup></span></a><span class="cs519E05AF">
			ist f&uuml;r alle sechs Prasun-D&ouml;rfer ein (und derselbe) Brauch.
			</li>
		<li>Diese Gottesland-Felder (und) Gottesland-Wiesen
		</span><a href="#_ftn19"
			title="„Felder“ und „Wiesen“ sind mit dem Kasus-Morphem versehen, aber der Satz wird erst in Abschnitt 28 unter Wiederholung von „die Gottesland-Felder“ vollendet. "
			name="_ftn_GoBack19"><span class="cs519E05AF"><sup>[20]</sup></span></a><span
			class="cs519E05AF"> - als 28 Jahre vergangen</span><a href="#_ftn20"
			title="Wörtl.: „geworden“." name="_ftn_GoBack20"><span
			class="cs519E05AF"><sup>[21]</sup></span></a><span class="cs519E05AF">
			waren, seit (wir) Muslime wurden, sa&szlig; ein Iṣṭewi-Mann namens
			Bokil vor dem Amir Abdurrahman (in Kabul).
			</li>
		<li>Jener Mann, nachdem er (aus Kabul zur&uuml;ck)gekommen war,
				hat die Gottesland-Felder unter den Sippen aufgeteilt und einem
				jeden der sechs Prasun-D&ouml;rfer (ein St&uuml;ck) als Land
				&uuml;bergeben.
		</span><a href="#_ftn21"
			title="Wörtl.: „den sechs Prasun-Dörfern, unter den Sippen aufgeteilt habend, einem jeden Land gemacht habend in die Hand gegeben habend beendet“. "
			name="_ftn_GoBack21"><span class="cs519E05AF"><sup>[22]</sup></span></a><span
			class="cs519E05AF"></li>
		<li>Nun wurden wir Muslime, (Gott sei) Dank.</li>
		<li>Nun wird es zum fr&uuml;heren Kafir-Tun nicht (mehr) kommen.</span><a
			href="#_ftn22" title="Wörtl.: „wird nicht werden“."
			name="_ftn_GoBack22"><span class="cs519E05AF"><sup>[23]</sup></span></a>
	</li>
	</ol>
	</p>

</div>
