<div th:fragment="deu010" class="deu010">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A5 Verteilung der
			Eichenb&auml;ume (quercus balut)</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>Von der ganzen Paṣki-Dorfgemeinschaft sind die Eichen in
					drei Teile geteilt.</li>
				<li>Alle D&ouml;rfler haben</span><a href="#_ftn0" title="Prät. II im Prasun." name="_ftn_GoBack0"><span
			class="cs519E05AF"><sup>[1]</sup></span></a><span class="cs519E05AF">
			an allen drei Teilen Anteil.
			</li>
			<li>Im ersten Winter
		</span><a href="#_ftn1" title="Wörtl: „zuerst ein Winter“. Eichenlaub dient im Winter als Viehfutter." name="_ftn_GoBack1"><span class="cs519E05AF"><sup>[2]</sup></span></a><span
			class="cs519E05AF"> werden sie die Zuteilung bei den Eichen
			von Goya machen.
			</li>
			<li>Wer ist denn der Pr&auml;sident? Es ist J̌uma Xān.</li>
			<li>Er wird auch den beiden anderen
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			Anteile zukommen lassen.
			</li>
			<li>Danach wird f&uuml;r Əstia die Eichenzuteilung an die Reihe
				kommen.</li>
			<li>Wer ist denn der Pr&auml;sident? Es ist Durmat.</li>
			<li>(Ihre) Eichenanteile wird er auch den beiden anderen
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			zukommen lassen.
			</li>
			<li>Danach ist der Paṣlig-
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			von Əbdǝlia (dran).
			</li>
			<li>Wer ist denn der Pr&auml;sident? Es ist Sunurǰu.</li>
			<li>Er ist (dann) an der Reihe mit dem Eichenanteil.</li>
			<li>Auch den beiden anderen
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			wird er Eichen-Anteile zukommen lassen.
			</li>
			<li>Die Mitglieder des Psnī-
		</span><span class="cs5688BE4F">wiṭig</span><a href="#_ftn2"
			title="Vgl. Text A4: dieser wiṭig ist nicht einem der drei geographisch definierten Dorfteile zugeordnet." name="_ftn_GoBack2"><span class="cs519E05AF"><sup>[3]</sup></span></a><span
			class="cs519E05AF"> sind in drei Teile (aufgeteilt).
			</li>
			<li>Ein Teil wird einen Eichen-Anteil vom Paṣlig-
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			nehmen, ein weiterer Teil wird einen Eichen-Anteil vom
			P&scaron;&uuml;-</span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF"> nehmen, ein weiterer Anteil wird einen
			Eichen-Anteil vom Py&ouml;sal-</span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF"> nehmen.
			</li>
			<li>Alle Anteile werden zwei Winter lang nicht gebrochen werden.


		
		</span><a href="#_ftn3" title=" Damit ist das Nachwachsen der Äste gesichert. Auf die Übertretung dieses Verbots stehen harte Strafen, vgl. Text A2.20f." name="_ftn_GoBack3"><span class="cs519E05AF"><sup>[4]</sup></span></a><span
			class="cs519E05AF"></li>
			<li>Alle drei Winter wird die Reihe zum Brechen (der
				Eichen&auml;ste) kommen.</li>
			<li>Als drei Unterteile werden (also die Eichen) Anteile der</span><span
			class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			werden.</span><a href="#_ftn4" 
			title="In Satz 17 bis 20 wird zusammengefasst, wie ein bestimmtes Kontingent jeweils aufgeteilt wird. In Satz 17 beziehen sich die „drei tkür“ auf die Einteilung der Eichen in drei Teile, von denen je einer einem bestimmten wiṭig gehört, vgl. Satz 1. Die „vier tkür “ in Satz 19 sind dagegen die Anteile der vier goŋ eines jeden wiṭig. In Satz 20 werden „sechs tkür“ für die sechs Hausgemeinschaften innerhalb eines goŋ eingeteilt. Vgl. auch Abschnitt 27-29."
			name="_ftn_GoBack4"><span
			class="cs519E05AF"><sup>[5]</sup></span></a><span class="cs519E05AF"></li>
			<li>Welche Dinge werden sie teilen? Die Eichen.</li>
			<li>Als vier Unterteile werden die</span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF"> die Eichen nach </span><span class="cs5688BE4F">goŋ</span><span
			class="cs519E05AF"> aufteilen.</span><a href="#_ftn5" title="Wörtl.: „Anteil im goŋ machen“. Zu goŋ gl. Text A3."
			name="_ftn_GoBack5"><span class="cs519E05AF"><sup>[6]</sup></span></a><span
			class="cs519E05AF"></li>
			<li>Als sechs Unterteile werden die</span><span class="cs5688BE4F">goŋ</span><span
			class="cs519E05AF"> sie den (einzelnen) Haushalten zuteilen.
			</li>
			<li>Jedem Haushalt werden etwa 20 B&auml;ume
		</span><a href="#_ftn6" title="Die Analyse von tu-zū küzüm lī ist unklar." name="_ftn_GoBack6"><span class="cs519E05AF"><sup>[7]</sup></span></a><span
			class="cs519E05AF"> zukommen.
			</li>
			<li>Das Aufteilen der Eichen ist im Mittwinter.</li>
			<li>An welchem Tag im Mittwinter ist es denn?</li>
			<li>Wenn der (Kalenderabschnitt) &bdquo;Die vierzehn
		</span><span class="cs5688BE4F">ǝwōċug</span><span class="cs519E05AF">&ldquo;
			zu Ende geht, ist es Brauch, die Eichenanteile an sich zu ziehen.</span><a
			href="#_ftn7" title="D. h. sie förmlich als Anteil zu erklären." name="_ftn_GoBack7"><span class="cs519E05AF"><sup>[8]</sup></span></a><span
			class="cs519E05AF">
			</li>
			<li>Bis wir die Eichen aufteilen, f&uuml;ttern wir die Tiere mit
				Gras.</li>
			<li>Das Aufteilen der Eichen werden sie in drei Tagen beenden.</li>
			<li>Am ersten Tag werden die D&ouml;rfler (die Eichen) nach
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			aufteilen.</span><a href="#_ftn8" title="Wörtl.: „Anteil im wiṭig machen“." name="_ftn_GoBack8"><span
			class="cs519E05AF"><sup>[9]</sup></span></a><span class="cs519E05AF">
			</li>
			<li>Am folgenden Tag werden die
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			sie nach </span><span class="cs5688BE4F">goŋ</span><span class="cs519E05AF">
			aufteilen.
			</li>
			<li>Am folgenden (dritten) Tag werden die
		</span><span class="cs5688BE4F">goŋ</span><span class="cs519E05AF">
			sie den Hausgemeinschaften, nachdem sie sie gez&auml;hlt haben,
			zuteilen.
			</li>
			</ol>
		</span>
	</p>
</div>