<div th:fragment="deu009" class="deu009">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A4 Der Dorfpr&auml;sident (</span><span
			class="cs60C92199">ra&rsquo;īs-i qarya</span><span class="csFAF3A986">)</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>Innerhalb der Genzen von ganz Paṣki gibt es drei Teile:
					Goya, Əbdǝliya, Əstia.</li>
				<li>Goya ist talauf, Əbdǝliya ist unterhalb (des Dorffelsens),
					Əstia ist talab.</li>
				<li>F&uuml;r Goya ist der Pr&auml;sident des P&scaron;&uuml;-</span><span
			class="cs5688BE4F">wiṭig</span><span class="cs519E05AF"> J̌uma
			Xan (zust&auml;ndig).
			</li>
			<li>F&uuml;r Əbdǝliya ist der Pr&auml;sident des Paṣlig-
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			Sunurǰu (zust&auml;ndig).
			</li>
			<li>F&uuml;r Əstia ist der Pr&auml;sident des Py&ouml;sal-
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			Durmāt (zust&auml;ndig).
			</li>
			<li>(Die Leute vom) Psnī-wiṭig haben
		</span><a href="#_ftn0" title=" Präteritum II im Prasun." name="_ftn_GoBack0"><span
			class="cs519E05AF"><sup>[1]</sup></span></a><span class="cs519E05AF">
			Anteil an allen drei </span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF">, f&uuml;r sie ist der Pr&auml;sident
			Ṣambu.
			</li>
			<li>F&uuml;r den Psnī-wiṭig der Anteil an Eichen &ndash; sie
				haben
		</span><a href="#_ftn1" title="Prät. II im Prasun." name="_ftn_GoBack1"><span
			class="cs519E05AF"><sup>[2]</sup></span></a><span class="cs519E05AF">
			Anteil an allen drei </span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF">.
			</li>
			<li>Pr&auml;sidenten der Dorfgemeinschaft
		</span><a href="#_ftn2" title="Pers. ra’īs-i qarya." name="_ftn_GoBack2"><span
			class="cs519E05AF"><sup>[3]</sup></span></a><span class="cs519E05AF">
			sind f&uuml;r die gesamte Lebenszeit (im Amt).
			</li>
			<li>Auch den
		</span><span class="cs5688BE4F">wurī</span><span class="cs519E05AF">
			werden sie Aufgaben zuteilen.
			</li>
			<li>(Wenn von) einem
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			der Pr&auml;sident stirbt,</span><a href="#_ftn3" title=" Wörtl.: „starb“."
			name="_ftn_GoBack3"><span class="cs519E05AF"><sup>[4]</sup></span></a><span
			class="cs519E05AF"> werden die </span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF">-(Mitglieder) ausgehen und einen (Mann) zum
			neuen Pr&auml;sidenten machen.
			</li>
			<li>Der Pr&auml;sident des Psnī-
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			ist Ṣambū.
			</li>
			<li>Andererseits ist er der Pr&auml;sident f&uuml;r alle
				Angeh&ouml;rigen der Dorfgemeinschaft.</li>
			</ol>
		</span>
	</p>
</div>
