<div th:fragment="deu007" class="deu007">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A2 &Uuml;ber die Institution der
		</span><span class="cs60C92199">wurˈī</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>Von Seiten der Dorfgemeinschaft (Paṣki) pflegen acht
					M&auml;nner zu</span><span class="cs5688BE4F">wurī</span><span
			class="cs519E05AF"> gew&auml;hlt zu werden.
			</li>
		<li>Wer sind (waren) denn die W&auml;hler? - Auf Seiten der
				Dorfgemeinschaft waren acht M&auml;nner
		</span><span class="cs5688BE4F">ǝṣṭˈǝg</span><span class="cs519E05AF">:
			ein Mulla, ein Malik,</span><a href="#_ftn0" title="Zur Institution des Malik s. Text A3.53-61." name="_ftn_GoBack0"><span
			class="cs519E05AF"><sup>[1]</sup></span></a><span class="cs519E05AF">
			zwei </span><span class="cs5688BE4F">inǰ&ouml;liga</span><a href="#_ftn1" title="Für zwei Jahre amtierender Dorfvorsteher, siehe Text A3.48-52."
			name="_ftn_GoBack1"><span class="cs519E05AF"><sup>[2]</sup></span></a><span
			class="cs519E05AF">, ein </span><span class="cs5688BE4F">ẓǝt</span><span
			class="cs519E05AF">, (dem) von der Dorfgemeinschaft Vollmacht
			verliehen (worden war),</span><a href="#_ftn2" title=" Zu ẓǝt siehe Text A3.63-68." name="_ftn_GoBack2"><span
			class="cs519E05AF"><sup>[3]</sup></span></a><span class="cs519E05AF">
			drei M&auml;nner waren Dorfgemeinschafts-</span><span class="cs5688BE4F">raˈīs</span><span
			class="cs519E05AF">.</span><a href="#_ftn3" title="Pers. ra’īs-i qariya „Dorfvorsteher“. Im Jahr 1970 waren dies in Paṣki: Rahīm, Rahmatullah und Sunurǰu." name="_ftn_GoBack3"><span
			class="cs519E05AF"><sup>[4]</sup></span></a><span class="cs519E05AF">
			</li>
		<li>Wenn zwei Jahre vergangen sind, pflegen die acht M&auml;nner
				die
		</span><span class="cs5688BE4F">wurī</span><span class="cs519E05AF">
			zu w&auml;hlen.
			</li>
		<li>Die Organisatoren der Wahlhandlungen sind diese (genannten
				acht M&auml;nner).</li>
		<li>Sie pflegen acht junge M&auml;nner zu w&auml;hlen.</li>
		<li>Es ist Brauch,
		</span><span class="cs5688BE4F">wurī</span><span class="cs519E05AF">
			(im Alter) von 30 Jahren bis 40 Jahren zu w&auml;hlen.
			</li>
		<li>Sie werden das Dorf bewachen, sie sind die W&auml;chter des
				Tals innerhalb unserer Grenzen.
		</span><a href="#_ftn4" title="Wörtl.: „die das Tal, aus unseren Grenzen hereingezogen, Bewachenden“." name="_ftn_GoBack4"><span class="cs519E05AF"><sup>[5]</sup></span></a><span
			class="cs519E05AF"></li>
		<li>Was sind</span><a href="#_ftn5" title="Wörtl.: „haben sie“." name="_ftn_GoBack5"><span
			class="cs519E05AF"><sup>[6]</sup></span></a><span class="cs519E05AF">
			die Aufgaben f&uuml;r die </span><span class="cs5688BE4F">wurī</span><span
			class="cs519E05AF">? 9. Erstens, wenn (Leute) heimlich die
			Fr&uuml;chte essen, werden sie sie mit je einem Ma&szlig;</span><a
			href="#_ftn6" title="gumus." name="_ftn_GoBack6"><span class="cs519E05AF"><sup>[7]</sup></span></a><span
			class="cs519E05AF"> Mehl (und) ein Ma&szlig; Schmelzbutter
			bestrafen.
			</li>
		<li>(Zweitens) die Freigabe von Mandeln, die Freigabe von
				&Auml;pfeln, die Freigabe von Waln&uuml;ssen: es ist Brauch
				(f&uuml;r) M&auml;nner, Frauen und Kinder, dann hinauszugehen und zu
				essen, wenn der
		</span><span class="cs5688BE4F">ẓǝt</span><span class="cs519E05AF">,
			dem Vollmacht verliehen wurde,</span><a href="#_ftn7" title="Vgl. Abschnitt 3." name="_ftn_GoBack7"><span
			class="cs519E05AF"><sup>[8]</sup></span></a><span class="cs519E05AF">
			sie freigibt, (dann) ist das Sammeln.
			</li>
		<li>Wenn die Aprikosen reif werden,
		</span><a href="#_ftn8" title="Singular im Prasun." name="_ftn_GoBack8"><span class="cs519E05AF"><sup>[9]</sup></span></a><span
			class="cs519E05AF"> pflegen Kinder, M&auml;nner und Frauen sie
			zu sammeln, eine Strafe gibt es nicht.</span><a href="#_ftn9"
			title="D. h. es bedarf in diesem Fall keiner Freigabe." name="_ftn_GoBack9"><span class="cs519E05AF"><sup>[10]</sup></span></a><span
			class="cs519E05AF">
			</li>
		<li>(Wenn) man heimlich Waln&uuml;sse geknackt hat, pflegen (die
		
		</span><span class="cs5688BE4F">wurī</span><span class="cs519E05AF">),
			nachdem sie auf die Finger geschaut haben, auf den Mund geschaut
			haben, (das) zu erkennen.
			</li>
		<li>Wie erkennen sie es denn?</li>
		<li>Die
		</span><span class="cs5688BE4F">wurī</span><span class="cs519E05AF">,
			nachdem sie auf die Hand, die gelbgr&uuml;n</span><a href="#_ftn10"
			title="Von der gelbgrünen Nussschale/ vom äußeren Fruchtfleisch?" name="_ftn_GoBack10"><span class="cs519E05AF"><sup>[11]</sup></span></a><span
			class="cs519E05AF"> geworden ist, auf den Finger, der
			gelbgr&uuml;n geworden ist, auf den Mund, der gelbgr&uuml;n geworden
			ist, geschaut haben, wissen dann Bescheid.
			</li>
		<li>(Wenn) irgendwelche Leute gestohlen haben, (wenn) die
		</span><span class="cs5688BE4F">wurī</span><span class="cs519E05AF">
			sie festgenommen haben, werden sie (die Diebe) in (das Dorf) bringen
			und der Dorfgemeinschaft &uuml;bergeben.
			</li>
		<li>Was machen denn die D&ouml;rfler mit dem Dieb?</li>
		<li>Die D&ouml;rfler
		</span><a href="#_ftn11" title="ugˈumu „Dorfgemeinschaft“, das Verb steht im Singular oder im Plural." name="_ftn_GoBack11"><span class="cs519E05AF"><sup>[12]</sup></span></a><span
			class="cs519E05AF"> legen</span><a href="#_ftn12" title="Im Prasun Aorist."
			name="_ftn_GoBack12"><span class="cs519E05AF"><sup>[13]</sup></span></a><span
			class="cs519E05AF"> ihn hin, werden eine Gerte</span><a
			href="#_ftn13" title="ẓü „nasser Stock, Gerte“." name="_ftn_GoBack13"><span class="cs519E05AF"><sup>[14]</sup></span></a><span
			class="cs519E05AF"> holen und ihn schlagen.
			</li>
		<li>Nachdem sie ihn fertig geschlagen haben, werden sie ihn
				aufstehen lassen, ihm das Gesicht mit Ru&szlig; einreiben, ihn auf
				einen Esel setzen, ihn talauf in alle sechs Prasun-D&ouml;rfer gehen
				lassen, ihn unter Lachen
		</span><a href="#_ftn14" title="Wörtl.: „ohoho machend“." name="_ftn_GoBack14"><span class="cs519E05AF"><sup>[15]</sup></span></a><span
			class="cs519E05AF"> bis Iṣṭewi gelangen lassen, ihn talab
			wenden, bis nach Pa&scaron;ki gelangen lassen und (in dieser Weise)
			besch&auml;men.
			</li>
		<li>Die Diebe werden Schande erleiden.
		</span><a href="#_ftn15" title="Wörtl.: „werden“." name="_ftn_GoBack15"><span class="cs519E05AF"><sup>[16]</sup></span></a><span
			class="cs519E05AF"></li>
		<li>F&uuml;r (die Besch&auml;digung der) Eichen gibt es harte
				Strafe.</li>
		<li>Wenn man einen Zweig abbricht, wird man als Strafe ein
				Ma&szlig; Mehl und ein Ma&szlig; Schmelzbutter entrichten.</li>
		<li>Wenn es eine Wurzel ist, pflegen sie eine Kuh als Strafe zu
				nehmen.</li>
		<li>Wenn man &uuml;ber die anderen, &uuml;brigen B&auml;ume
				denkt: &bdquo;Wir wollen sie umwerfen&ldquo;, wenn du denkst:
				&bdquo;wir wollen Feuer daran legen&ldquo;, die sind straffrei.</li>
		<li>(Wenn) man auf unsere Alm anderes Vieh hineingelassen hat,
				werden die</span><span class="cs5688BE4F">wurī </span><span
			class="cs519E05AF">je einen Ziegenbock als Strafe nehmen, ihn
			schlachten und essen.
			</li>
		<li>Strafen einzunehmen ist ihre Aufgabe. 26. Die Sachen, die sie
				als Strafe eingenommen haben, werden sie (selbst) verbrauchen.
		</span><a href="#_ftn16" title="Wörtl.: „essen“." name="_ftn_GoBack16"><span class="cs519E05AF"><sup>[17]</sup></span></a><span
			class="cs519E05AF">
			</li>
		<li>Die Obstb&auml;ume sind f&uuml;r die Dorfgemeinschaft.</li>
		<li>Wenn die Freigabe kommt, wenn einer ein Viel-Sammler ist,
				(dann) steht ihm das frei.
		</span><a href="#_ftn17" title="Wörtl.: „es ist ihr (Pl.) Sinn“. D. h. jeder kann sammeln, soviel er will und kann." name="_ftn_GoBack17"><span class="cs519E05AF"><sup>[18]</sup></span></a><span
			class="cs519E05AF">
			</li>
		<li>Eine Zuteilung findet nicht statt, (sondern die Ernte) ist
				f&uuml;r den, der das Verm&ouml;gen hat (sie einzuholen).
		</span> <span class="cs519E05AF"></li>
		<li>Unter den</span><span class="cs5688BE4F">wurī</span><span
			class="cs519E05AF"> ist ein Mann das &bdquo;</span><span
			class="cs5688BE4F">wurī-</span><span class="cs519E05AF">Oberhaupt&ldquo;.
			</li>
		<li>Die
		</span><span class="cs5688BE4F">wurī</span><span class="cs519E05AF">
			werden unter sich abw&auml;gen, einem, der etwas mehr (von der) Sache
			versteht, einem an Klugheit &Uuml;berlegenen,</span><a href="#_ftn18" title="Wörtl.: „(einem) etwas-mehr Klugen“."
			name="_ftn_GoBack18"><span class="cs519E05AF"><sup>[19]</sup></span></a><span
			class="cs519E05AF"> die Vollmacht geben und ihn als </span><span
			class="cs5688BE4F">wurī</span><span class="cs519E05AF">-Oberhaupt
			aufstellen. </span> <span class="cs519E05AF"></li>
		<li>Wenn zwei Jahre herumgegangen sind, sollen sie (die</span><span
			class="cs5688BE4F">wurī</span><span class="cs519E05AF">)
			abtreten.</span><a href="#_ftn19" title="Wörtl.: „sollen Genug sagen“." name="_ftn_GoBack19"><span
			class="cs519E05AF"><sup>[20]</sup></span></a><span class="cs519E05AF"></li>
		<li>Acht M&auml;nner pflegen (dann) als andere, neue</span><span
			class="cs5688BE4F">wurī</span><span class="cs519E05AF">
			gew&auml;hlt zu werden.
			</li>
		<li>Die acht
		</span><a href="#_ftn20" title="Später ist immer von einem gewählten ẓǝt die Rede."name="_ftn_GoBack20"><span class="cs519E05AF"><sup>[21]</sup></span></a><span
			class="cs519E05AF"> </span><span class="cs5688BE4F">ẓǝt-</span><span
			class="cs519E05AF">&Auml;ltesten, sie sind auf Lebenszeit </span><span
			class="cs5688BE4F">ẓǝt</span><span class="cs519E05AF">. 35.
			Was immer sie sagen m&ouml;gen, das Wort, das von ihnen gesprochen
			wurde, ist richtig.
			</li>
		<li>Wenn die beiden
		</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span class="cs519E05AF">
			nach Ablauf von zwei Jahren denken: &bdquo;Wir wollen ‚Genug&lsquo;
			sagen&ldquo;, dann steht es ihnen frei (zu w&auml;hlen, ob sie
			bleiben oder gehen wollen).
			</li>
		<li>(Wenn) sie abgetreten sind, werden von Seiten der
				Dorfgemeinschaft zwei andere M&auml;nner als
		</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span class="cs519E05AF">
			aufgestellt werden.
			</li>
		</ol>
		</span>
	</p>
</div>