<th:block
	th:fragment="pagination(page)"
	th:if="${page.getTotalPages() > 1}">
	<nav>
		<ul class="pagination">
			<li th:if="${page.hasPrevious()}"><a
				th:href="${page.previousOrFirstPageable().getPageNumber()}">
					&laquo; Previous</a></li>
			<li
				th:each="pageNumber : ${#numbers.sequence(0, page.getTotalPages() - 1)}"><a
				th:href="${pageNumber}"
				th:text=${pageNumber}></a></li>
			<li th:if="${page.hasNext()}"><a
				th:href="${page.nextPageable().getPageNumber()}">Next &raquo;</a></li>
		</ul>
	</nav>
</th:block>