<div th:fragment="sidebar" class="sidebar"xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="wrapper">
		<!-- Sidebar  -->
		<nav id="mySidepanel" class="sidepanel">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>	<ul class="list-group list-group-flush">
				<p>Prasun Web</p>
				<li><a href="#">Einleitung</a></li>
				<li><a href="#">Reise nach Prasun 1956</a></li>
				<li><a href="#">Reise nach Prasun 1970</a></li>
				<li class="active"><a href="#homeSubmenu"
					data-toggle="collapse" aria-expanded="false"
					class="dropdown-toggle">Prasun Texte </a>
					<ul class="collapse list-unstyled" id="homeSubmenu">
						<li><a href="#">1956</a></li>
						<li><a href="#">1970</a></li>
					</ul></li>
				<li><a href="#">Glossar</a></li>
			</ul>
		</nav>
	</div>
</div>