<div th:fragment="prn010" class="prn010">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A5 Verteilung der
			Eichenb&auml;ume</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>sučˈog Wuṣˈit ogˈuma wōzlug tčī buṭog ˈasto.</li>
				<li>&scaron;č&ouml;g buṭˈog-pan sučˈog ogˈumulugˈa buṭˈog
					ǝlist.</li>
				<li>ta&scaron;če atig ˈiznera Gˈōya woz-pan buṭog linīg-ǝlist.</li>
				<li>rēis ks-rˈa-so? J̌uma Xān rē-s.</li>
				<li>l&ouml;g magra wiṭigˈen apı woz buṭog apuinˈīg-ǝlī.</li>
				<li>tǝkċˈog Əstˈīa-wag woz buṭog wār ānīg-ǝlī.</li>
				<li>rēis ks-rˈa-so? Durmāt rē-s.</li>
				<li>woz buṭoganˈa l&ouml;g magra wiṭigˈen apī apuinīg-ǝlī.</li>
				<li>tǝkċog Əbdˈǝlia Paṣlig wiṭig rē-st.</li>
				<li>rēis ks-ra-so? Sunurǰu rē-s.</li>
				<li>woz buṭog sǝmi&scaron;-ag wār rē-s.</li>
				<li>l&ouml;g magra wiṭigˈen apˈı woz buṭog apuinˈīg-ǝlī.</li>
				<li>Psnī wiṭiglugˈa tčī buṭog rē-st.</li>
				<li>atig buṭogˈa Paṣlig wiṭig-paya woz buṭˈog wuginˈīg-ǝlī,
					atˈǝs buṭogˈa P&scaron;&uuml; wiṭig-paya woz buṭˈog wuginˈīg-ǝlī,
					atˈǝs buṭogˈa Py&ouml;sal wiṭig-paya woz buṭˈog wuginˈīg-ǝlī.</li>
				<li>sučog buṭoglugˈa l&uuml; iznera na azolyēnewinīg-ǝlī.</li>
				<li>tčī iznera-pan az&uuml;linig wār ānīg-ǝlī.</li>
				<li>tčī tk&uuml;r wiṭig buṭog winˈīg-ǝlist.</li>
				<li>ps-lǝtrˈen buṭˈog linˈīg-ǝlist? wozlugan.</li>
				<li>wiṭigˈa čpū tk&uuml;r wozlugan tǝ-goŋ buṭog linˈīg-ǝlist.</li>
				<li>gˈoŋa wuṣ tk&uuml;r k&uuml;ž&uuml;̄ buṭog linīg-ǝlist.</li>
				<li>k&uuml;ž&uuml;̄ gunīg tu-zū k&uuml;z&uuml;m lī
					&uuml;&scaron;tyub wuṭenīg-ǝlist.</li>
				<li>woz buṭˈog linˈīgˈa munǰ iznerˈa rē-s.</li>
				<li>munǰ iznera nyō wǝs-pan ra-so?</li>
				<li>čplūzˈeg ǝwˈōċug laṭogˈoma woz buṭog wukṣinīg čar rē-s.</li>
				<li>woz buṭog līmˈa&scaron; wi&scaron;tya asˈa ṣǝlugenˈa
					y&uuml;s binuga-rˈē-sǝm&scaron;.</li>
				<li>wōz buṭog linˈig tčī ǝnċera ṭkinˈīg-ǝlist.</li>
				<li>ta&scaron;če ǝnċera gǝmlug t-iṭig buṭog linˈīg-ǝlist.</li>
				<li>&uuml;lmˈīnċera wiṭiglug tǝ-goŋ buṭog linˈīg-ǝlist.</li>
				<li>&uuml;lm&uuml;nċera goŋlug k&uuml;ž&uuml;̄ aŋunˈī buṭog
					linīg-ǝlist.</li>
			</ol></span>
	</p>
</div>
