<div th:fragment="prn007" class="prn007">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A2 &Uuml;ber die Institution der
			wurˈī</span><a href="#_ftn0" title="Entsprechend Waigali malawřẽ, vgl. Degener 1998, Text 20 und 21." name="_ftn_GoBack0"><span
			class="csFAF3A986"><sup>[1]</sup></span></a>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>ugˈuma obˈuċa āst wǝǰǰǝmī wurˈī wikṣīnēwin čer last.</li>
				<li>wikṣīgˈa ks-ċǝ-rˈa-st (ks-se-rˈa-st, ks-sest)? - ugˈuma
					obˈuċ(a) āst wǝǰǰǝmī ǝṣṭˈǝg sēst: atig mullˈo, atˈig maligˈǝ,
					l&uuml;̄ wǝǰǰǝmī inǰ&ouml;̄ligˈa, atig ugˈuma extiyˈār aplyˈog ẓǝt,
					tčī wǝǰǰǝmī rēs-i ugumˈu sest.</li>
				<li>l&uuml; wusċˈū lāṭogma&scaron; ǝndo āst wǝǰǰǝmˈī wurˈī
					wikṣin čār last.</li>
				<li>ǝndˈo wikṣinīg kodyum alogēligˈa mǝrˈī rē-st.</li>
				<li>āst w&uuml;&scaron;&ouml; wikṣinˈig čar lasto.</li>
				<li>lǝzež wusċˈū-pana ǰǝbǝz wusċˈū-pan wi&scaron;t wurˈī
					wikṣinˈig čār rē-s.</li>
				<li>gǝmč t&uuml;p&uuml;tinig-ǝlˈist, gulč asˈǝ īyˈǝ-pana tikṣˈī
					t&uuml;p&uuml;tigˈa wurī rē-st.</li>
				<li>undˈǝ̄ wurī-wag kodyum ps(ǝ)-last?</li>
				<li>tˈa&scaron;če pēwˈoṭlugan činˈẹst-dē undomi&scaron;in
					intig gumˈus bˈūtu ǝntig gumˈus wučˈo ḍǝṇḍ wiginig(ǝ)-list.</li>
				<li>&uuml;zˈ&uuml; ċpǝ, ǝwa ċpǝ, umū ċpǝ: extiyār aplyog ẓǝt
					yumˈū ċpelyẹ-ro čtī wiǰǰimīlug re wǝstilug re k&uuml;rlug rē
					wiptˈī opčinˈig čar rē-s, linǰinˈig rē-s.</li>
				<li>čirˈa yumū awočẹ-rˈo k&uuml;rlug rē wǝǰǰǝmīlug re
					wǝstīlug ǝdī līnǰinig čār rē-s, ḍǝnḍ nā-rē-s.</li>
				<li>čǝč&uuml;nigˈa omˈū azilyog-lastˈo, &uuml;g&uuml;-pan anjˈī
					ī&scaron;-pan ānjī ǝzning čar list. 13. psēli ǝznǝma-rˈa-st?</li>
				<li>wurīlug lust ž&uuml;nyēwˈog&scaron; &uuml;g&uuml;
					ž&uuml;nyēwˈog&scaron; ī&scaron; ž&uuml;nyēwˈog&scaron; anjˈī
					ǝznǝga-re-st.</li>
				<li>nugı wiǰǰǝmˈī i&scaron;nyēlyog-ǝlˈasto, wurīlug tu-lust
					wutamtyog-ǝlastˈo, atipčī ugˈuma tu-lust aplinig(ǝ)-list.</li>
				<li>ugˈumu psēlimā-ra-st i&scaron;nˈī&scaron;a?</li>
				<li>ugˈumu pǝgāwye-dī (pǝgāwyẹst(i)-di) ẓ&uuml;̄ gǝzˈī
					biṣpinīg-ǝlist.</li>
				<li>biṣpī-ṭkī b&uuml;sċˈ&uuml;̄ ličǝwˈī nǝskˈar ẓǝ āwičˈī
					(ẓāwičˈī) kor-pan a&scaron;liwˈī wuṣeg tu-gul Wasˈī žigāwī
					&bdquo;ohoho&ldquo; lyō tu-ṣpū wi&scaron;t aṭkī n(y)&uuml;ruwˈī
					tu-ṣ&uuml;t wi&scaron;t aṭkī ǝbrēlinig-ǝlist. 19. ǝndˈō
					i&scaron;nēligˈa(yˈa) &uuml;&scaron;ˈupı winˈīg-ǝlist. 20.
					wozlˈugana kaṭa ḍǝṇḍ rē-s.</li>
				<li>atig ċāw azilyˈomaya atig gumus būt-pan atig gumus wučō dī
					ḍǝṇḍ aplinˈīg-ǝlist.</li>
				<li>atig kuẓˈū rˈa-saya, atig gūṭ ḍǝṇḍ wiginīg čār ǝlist.</li>
				<li>magrˈa bi&scaron;lyog &uuml;&scaron;tyubluga
					&bdquo;ojˈẹm&scaron;ō&ldquo; bẹst(i)-dī, &bdquo;aneg
					asċẹm&scaron;o&ldquo; bẹ&scaron;-dī ǝndˈō ḍǝṇḍ nā rē-st.</li>
				<li>as ċˈǝ (as sǝ) wele ṣǝ tisċog-lasto, intig gy&ouml;ṣ ḍǝṇḍ
					wigˈī wurīlug amǰˈ&uuml;̄ oiyinˈīg-ǝlist.</li>
				<li>ḍǝṇḍ wiginˈīga undōmi&scaron;in kodyum rē-s.</li>
				<li>ḍǝṇḍ wigyˈog lǝtrīluganˈa undō oiyinīg-ǝlist.</li>
				<li>pēwoṭ &uuml;&scaron;t&uuml;blug ugumˈa-wag ast.</li>
				<li>ċpǝ pˈoma nugˈī ǝskˈal lyenǰǝgˈa wˈǝ-dē mi&scaron;in čit
					rē-s.</li>
				<li>buṭˈog linigˈa nā rē-s, kāṭ wǝnī-wag rē-s. &ndash;</li>
				<li>wurˈī to-munǰ atig wǝǰǰǝmˈī wurī-tā rē-s.</li>
				<li>wurˈīlug mi&scaron;in to-munǰ ātulˈī čkǝs werī
					ǝznǝgˈa&scaron; čkǝs k&scaron;ulč extiyˈār aplˈī wurī-tā
					&uuml;tinig-ǝlist. &ndash;</li>
				<li>l&uuml; wusċˈū lāṭogˈoma undˈō yabˈē lˈẹsta.</li>
				<li>āst wǝǰǰǝmī walˈē &uuml;nˈe wurī wikṣīnēnig čar ǝlist.</li>
				<li>ǝndˈō asteg ẓǝt ǝṣṭǝgˈa ǝndˈō mǝnǰerˈa-wag ẓǝt re-st.</li>
				<li>undˈō ps-kolˈẹsto ǝndōmi&scaron;in kolyˈog weriˈa
					&scaron;č&ouml;lig rē-s.</li>
				<li>l&ouml;g inǰ&ouml;ligˈa l&uuml; wusċˈū laṭkī
					b&uuml;sċˈ&uuml; &bdquo;yabˈē lyẹm&scaron;ō&ldquo; bˈoma
					mi&scaron;in čit rē-s.</li>
				<li>yabˈē lyog-ǝlastˈo, ugumˈa obuċa l&uuml; wǝǰǰǝmˈī
					inǰ&ouml;liga wele &uuml;t&uuml;nēnig-ǝlist.</li>
			</ol></span>
	</p>
	<p class="cs80D9435B">
		<a href="#_ftn_GoBack0" name="_ftn0"><span class="cs957795DE"><sup>[1]</sup></span></a><span
			class="cs957795DE">&nbsp;Entsprechend Waigali </span><span
			class="cs79F499B0">malawřẽ</span><span class="cs957795DE">,
			vgl. Degener 1998, Text 20 und 21.</span>
	</p>
</div>
