<div th:fragment="prn006" class="prn006">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A1 Der kafirische M&uuml;nd</span><a
			href="#_ftn0" title="Erzähler: Jan Mohammad, Iṣṭewi." name="_ftn_GoBack0"><span class="csFAF3A986"><sup>[1]</sup></span></a>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>wuẓ gul Wasˈī Pǝzgim ǝmǝl Māre&scaron; nǝm ǝzniŋ ṭā last.</li>
				<li>Māra dizˈa sumoṭˈa wublyˈa omuyˈa obǝg ablyˈa dizīstˈogan
					dīzˈa gul dīzˈa bim dīzˈa āw dīzˈa anˈeg dīzˈa kǝṭī dīzˈa nǝnūnī
					lam&scaron;o.</li>
				<li>atig-ǝs atig erna nāsto.</li>
				<li>tāsˈig wǝrǰǝmīlˈug Pǝzgim t-ǝmˈǝl tibzˈī dīzˈa&scaron;
					sulˈom lī &bdquo;wublyū&ldquo; lī c̣āliŋ čar lasto.</li>
				<li>Puẓut-ǝmˈǝl tāsig wǝrǰǝmīlug ǝstlˈǝ dī Māre&scaron; nǝm
					ǝzniŋ &bdquo;Pǝzgim t-ǝmǝl &uuml;rˈe&scaron;og ǝdī Māra nusiŋ čar
					la&ldquo; lī ǝstlǝ dī lust lyenjˈa &bdquo;wublyˈū&ldquo; lī c̣āliŋ
					čar last.</li>
				<li>t-ǝmǝl ks-tībzē-rˈo ǝstlǝg wǝrǰǝmī&scaron; m&uuml;̄nd liŋ
					čer last.</li>
				<li>ǝstlǝg wǝrǰǝmīlug ǝstlǝg tī ǝtrˈapan rē
					&uuml;t&uuml;nyˈogan rē &bdquo;Māre&scaron; &uuml;t&uuml;nyˈog
					ast&ldquo; liŋ čer last.</li>
				<li>ǝstlˈǝg wǝrǰǝmˈī &uuml;t&uuml;nyˈogan sǝmi&scaron; čit la.</li>
				<li>magrˈa tadbˈan kodyum ajˈī ǝṣṭǝg so (sew).</li>
				<li>alǝg kodyum-ag m&uuml;̄nd liŋ čer last.</li>
				<li>ǝstlǝg wǝrǰǝmˈī undomi&scaron;in ti-ǰī kodyum aljˈa ǝṣṭǝg
					so.</li>
				<li>itīnċa krǝk wǝrǰimyˈen mansabdār liŋ čer last,
					undomi&scaron;n ti-ǰī mansabdār ċo. alǝg wǝrǰǝmī&scaron; m&uuml;̄nd
					liŋ čer last.</li>
				<li>atig-ǝs Pǝzgim tadba wǝrǰǝmˈī walˈē wǝrǰǝmˈī&scaron; atig
					gǝndǝr aneg sudˈū ablˈī m&uuml;lˈū ablˈī ǝstlˈǝg wǝrǰǝmˈī&scaron;
					Pǝzgˈim t-ǝmǝl waċˈe&scaron; ṣǝmˈī-pan tisċˈiŋ čer la.</li>
				<li>anegleg-pan aneg sudˈū tītiŋ čer la.</li>
				<li>ari&scaron; tāsig wǝrǰǝmīlug &bdquo;sudˈū tityˈoyo&ldquo;
					liŋ čer last.</li>
				<li>obiŋya su t-ǝmǝl tāsig wǝrǰǝmˈī ilčˈī mi&scaron; maṭǝgan
					wuẓumlī mi&scaron; lǝtrī dī wuẓumlī w&uuml;čoriŋ čer la.</li>
				<li>su Pǝzgim tadbˈa aneg sudˈū ablˈī tisċˈa wǝrǰǝmˈī
					mi&scaron; maṭǝg wuẓumlī mi&scaron; lǝtrī wuẓumlī t-ǝmǝl tibziŋ čer
					la.</li>
				<li>ǝstlǝg wǝrǰǝmˈī&scaron; c̣tag Pǝzgim m&uuml;̄nd nǝm atiŋ
					čer last.</li>
				<li>su wīċa wǝrǰǝmˈīlug tāsig ps-nǝm-pa-so Pǝzgˈim m&uuml;̄nd
					na nǝm tyeŋnī mi&scaron; nǝm tiŋ čer last.</li>
				<li>t-ǝmǝl tībza wǝrǰǝmˈī&scaron; itˈī Pǝzgim m&uuml;̄nd nǝm
					tyost.</li>
				<li>alǝg m&uuml;̄nd nǝm alǝg werˈī so.</li>
				<li>alǝg m&uuml;̄nd liŋ werī &scaron;čog wuẓ gul Wasˈī-pan
					kodyum so.</li>
				<li>alǝg tadba werī na wuẓalug rē wuẓalug rē &uuml;tyˈog čīt
					wunī ast.</li>
				<li>tībzˈoma &scaron;čogˈa tibziŋ-last.</li>
				<li>atibzˈoma lust lyenjˈī lužˈūlugan ṣǝ amǰ&uuml;̄ kǝṇḍ lī
					obǝg ablˈī ǝskˈal gǝndǝr kodyum so.</li>
				<li>arī&scaron; na woloŋnī na wuẓalug na tibzī woliŋ čer last.
					alǝg kodyum &scaron;čog wuẓ gul Wasˈī-ag atig kodyum so.</li>
				<li>mǝlǝg sur &uuml;t&uuml;nyˈogan sur ǝtrapˈan musulmˈān
					wog-panya loċˈī astež wuċˈū wog-pan atig Ṣupˈū wǝrǰǝmˈī Bōkil nǝm
					mīr t&uuml;-m&uuml;g Amīr Abdurrahmān-pan &scaron;ilyasēw -</li>
				<li>ǝstlǝg wǝrǰǝmˈī aċˈī sur &uuml;t&uuml;nyogˈan wuẓ gul
					Wasyˈen tadba to-munǰ buṭog lī yās-ag gul lī tu-lust ablī
					b&uuml;sċˈog-la.</li>
				<li>itˈī musulmān wogsum&scaron;, &scaron;ukr.</li>
				<li>itiˈa tāsig kāfir kodyum na wiŋ-la.</li>
			</ol> </span>
	</p>
</div>
