<div th:fragment="prn009" class="prn009">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A4 Der Dorfpr&auml;sident (</span><span
			class="cs60C92199">ra&rsquo;īs-i qarya</span><span class="csFAF3A986">)</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF">
		<ol>
		<li>sučˈog Wuṣit īyˈǝ-pana tikṣˈī tčī buṭˈog gˈaso: Gˈōya,
				Əbdˈǝlīya, Əstˈīa.</li>
		<li>Gˈōya žitˈē so, Əbdˈǝlīya pyētˈē so, Əstˈīa netˈē so.</li>
		<li>Gˈōya-wag P&scaron;&uuml;̄ wiṭig rēis J̌uma Xān rē-s.</li>
		<li>Əbdˈǝlīya-wag Paṣlig wiṭig rēis Sunurǰu rē-s.</li>
		<li>Əstˈīa-wag Py&ouml;sal wiṭig rēis Durmāt rē-s.</li>
		<li>Psnī wiṭig &scaron;čeg (&scaron;č&ouml;g) wiṭig-pan buṭog
				list, undōmi&scaron;in-ag rēisa Ṣˈambū rē-s.</li>
		<li>Psnī wiṭig-wag wǝz buṭog: &scaron;č&ouml;g wiṭig-pan apˈı
				buṭog ǝlist.</li>
		<li>rēis-e ogˈumu sučˈog mǝnǰerā-wag rē-st.</li>
		<li>wurˈīlugan apı kodyum alisnīg-ǝlist.</li>
		<li>atig wiṭig rēis omog-rˈa-so, wiṭiglug wi&scaron;čorˈī atig
				&uuml;n&uuml;̄ rēis ipinig-ǝlist.</li>
		<li>Psnī wiṭig rēis Ṣambū rē-s.</li>
		<li>atǝs obˈuċa sučog ogumulugˈana rēis rē-s.</li>
		</ol>
		</span>
	</p>
</div>
