<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Startseite: Prasun Web</title>

<!-- Bootstrap core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/prasuni.css" rel="stylesheet">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/navigation :: navigation">.</div>
	<!-- Page Content -->
	<div class="container">
		<!-- Heading Row -->
		<div class="row my-5">
			<div class="col-lg-4">
				<img class="img-fluid rounded" src="/images/04prasun.jpg" alt="">
			</div>
			<!-- /.col-lg-8 -->
			<div class="col-lg-8">
				<h1>Prasun</h1>
				<p class="text-justify">Prasun (Wasi) ist eine der nuristanischen Sprachen, Teil des
					indo-iranischen Zweigs der indo-europäischen Sprachen. Es wird im
					Prasun-Tal des Pech-Flusses gesprochen. Nordost-Afghanistan. Prasun
					ist ein nicht-literarischer, ungeschriebener Sprache, und variiert
					von Dorf zu Dorf. Materialien für die Prasun-Sprache des
					Afghanischen Hindukusch ist die Ergebnis von langjährige Arbeit von
					Georg Buddruss, in den letzten Jahren unterstützt von Almuth
					Degener. Die Texte, in Prosa und ein paar Songs, wurden gesammelt.
					von Buddruss in den Jahren 1956 und 1970. Enthalten sind alle
					gesammelten Texte, zusammen mit einer deutschen Übersetzung, einem
					Glossar, Zahlenlisten, Orts- und Personennamen sowie das
					Prasun-Kalendersystem.</p>

			</div>
		</div>

		<div class="row my-5">
			<!-- /.col-lg-8 -->
			<div class="col-lg-7" align="left">
				<p class="text-justify">Apart from its linguistic value, the present digital edition
					is also very important as it includes many “Kafiri” myths, still
					known in 1956, from the time before the forced Islamization in
					1895. The ancient pagan religion has survived only in the texts and
					in some customs described in this book.</p>
			</div>
			<div class="col-lg-5" align="center">
				<a class="btn btn-primary btn-lg" th:href="@{/1956-01}">Zu den
					Texten</a>
			</div>
		</div>
		<!-- Content Row -->
		<div class="row my-5">
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title">Reise nach Prasun 1956</h4>
						<p class="card-text">Die Reise von Georg Buddruss ins
							Prasun-Tal im Jahr 1956 war ein Teilunternehmen der Deutschen
							Hindukusch-Expedition 1955/56.</p>
					</div>
					<div class="card-footer">
						<a th:href="@{/travel-1970}" class="btn btn-primary">Mehr
							Informationen</a>
					</div>
				</div>
			</div>
			<!-- /.col-md-4 -->
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title">Reise nach Prasun 1970</h4>
						<p class="card-text">Die zweite Reise nach Prasun unternahm
							Georg Buddruss zusammen mit dem Anthropologen Prof. Wolfram
							Bernhard. Am 27.7.1970 trafen die beiden in Paṣki ein.</p>
					</div>
					<div class="card-footer">
						<a th:href="@{/travel-1970}" class="btn btn-primary">Mehr
							Informationen</a>
					</div>
				</div>
			</div>
			<!-- /.col-md-4 -->
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title">Glossar</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Rem magni quas ex numquam, maxime minus quam
							molestias corporis quod, ea minima accusamus.</p>
					</div>
					<div class="card-footer">
						<a th:href="@{/glossar}" class="btn btn-primary">Mehr
							Informationen</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer">FOOTER</div>

	<!-- Bootstrap core JavaScript -->
	<script src="jquery/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>