<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Reise nach Prasun 1970</title>

<!-- Bootstrap core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/prasuni.css" rel="stylesheet">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/navigation :: navigation">.</div>

	<!-- Page Content -->
	<div class="container">
		<div class="row my-5">
			<div class="col-lg-6">
				<h1 class="mt-4">Reise nach Prasun 1970</h1>
				<span class=lead>
					<p>Die zweite Reise nach Prasun unternahm GB zusammen mit dem
						Anthropologen Prof. Wolfram Bernhard. Am 27.7.1970 trafen die
						beiden in Paṣki ein. Es wurde ein Zeltplatz am oberen Ende des
						Dorfes (ca. 2570m hoch) gefunden. Hier lernte GB einen jungen Mann
						von etwa 30 Jahren kennen, mit Namen Fazal. Er machte den
						Eindruck, ruhig und intelligent auf Fragen nach der Prasun-Sprache
						zu antworten. Er war in Kabul zwei Jahre beim Militär gewesen und
						verstand gut Persisch. Es gelang GB, Fazal (F.) gegen gute
						Bezahlung zur Zusammenarbeit zu gewinnen und ein festes
						Arbeitsverhältnis zu begründen.</p>
					<p>Die Aufnahme bei den Dörflern war freundlich, viele
						erkannten GB wieder und erinnerten sich an Begegnungen von 1956.
						Fazal und GB begannen sofort, eine Frageliste durchzugehen, die GB
						aus Materialien von 1956 angelegt hatte. Zahlreiche Korrekturen
						ergaben sich. Fazal hielt durch, auch wenn er schnell ermüdete, zu
						gähnen begann und nach wenigen Tagen behauptete, der Dienst beim
						Militär sei leichter gewesen als die Spracharbeit mit GB. GB
						musste die leichte Ermüdbarkeit seines Mitarbeiters hinnehmen und
						darauf achten, den geistige Arbeit nicht gewohnten jungen Mann
						nicht zu überfordern.</p>
					<p>Ab 6.8.1970 brachen W. Bernhard und GB ins Obertal auf.
						Fazal blieb immer in der Nähe von GB und beantwortete Fragen. In
						I. wurden viele Materialien der Sammlungen von 1956 überprüft.
						Vieles wurde korrigiert, neues Material kam hinzu. I. ist der
						schwierigste und am wenigsten bekannte Dialekt des Prasun. GM
						kannte den Dialekt gar nicht. Es war deshalb zu überlegen, länger
						in I. zu bleiben und den Vergleich der Dialekte von I. und P. mit
						Hilfe Fazals zu vertiefen. Mit Malik Jan Mohammad durchwanderte GB
						die Plätze des Kampfes mit der Truppe aus Chitral (Text 90),
						ferner wurde ein Text über das münd-System aufgenommen (A1).</p>
					<p>Am 12.8.70 wurde die Arbeit in I. abgebrochen, denn Fazal
						behauptete, aus persönlichen Gründen nach P. zurückkehren zu
						müssen. So wurde beschlossen, den Schwerpunkt der Studien nach P.
						zu verlegen. Das war nicht sinnlos, da der Dialekt von P. der
						altertümlichste und morphologisch am besten zu durchschauende ist,
						wie schon GM erkannte. Auf dem Rückweg wurde ein Tag in Pronj
						verbracht. Hier lernte GB den jungen Abdul Wahid kennen. Ihn
						befragte GB nach Eigenheiten des Dialekts von Pr. Er war ein
						ausgezeichneter Informant, mit dem GB gern länger gearbeitet
						hätte. Er antwortete schnell und präzise, machte sogar selbständig
						auf Minimalpaare aufmerksam. Leider musste er am nächsten Morgen
						früh zum Militärdienst nach Kabul aufbrechen.</p>
				</span>
			</div>
			<div class="col-lg-6">
				<span class="lead">
					<p>In Dewa wurden auf dem Rückweg nach P. Materialien von 1956
						überprüft und neue Beispiele für die Stellung dieses Dialekts
						gesammelt. Die nächsten Dialektstudien waren in Kštöki mit einem
						jungen Informanten namens Abdul Ghafur, ein Soldat auf Urlaub. In
						Kstöki wurden GB und Bernhard von dem Dorf zum Essen eingeladen.
						Am 16.8.70 kehrte GB nach Paṣki zurück. W. Bernhard machte mit
						Informanten einen Rorschach-Test, bei dem GB als Dolmetscher
						diente. Bei der Deutung von Klecksogrammen spielten Yuṣ-Motive
						eine auffallende Rolle.</p>
					<p>W. Bernhard brach am 19.8. nach Kantiwa auf, GBs Arbeiten
						und Versuche zum Verbalsystem von Paṣki, auch zum Dialekt von Z.,
						liefen bis Ende August. Die nächste Aufgabe war das Sammeln
						ethnographischer Sachtexte. F. sollte zu Themen, die GB ihm
						stellte, frei erzählen, was ihm einfiel, z. B. über die
						Institution der wurī (Text A2), über Dorfgliederung und Dorfämter
						(A3-A5), zum Kalender im Winter und Sommer (A6, A7), über
						Wettspiele (A8), rituelles Säen (A9) etc. Textgruppe B handelt von
						Alm- und Milchwirtschaft, von Namen und Farben von Haustieren,
						Textgruppe C enthält Informationen über Speisen und ihre
						Bezeichnungen, über Krankheiten und Volksmedizin, Textgruppe D
						besteht aus Vermischtem aus zufällig mitgehörten Gesprächen.</p>
					<p>Am 5.9.70 machte GB Beobachtungen zum beginnenden
						Schulbetrieb. Die Schüler lasen Texte auf Pashto, verstanden aber
						kaum etwas davon. Der Lehrer, selbst Pashtune, verstand die
						Sprache seiner Schüler nicht, sie wiederum nicht die seine. Die
						letzte Arbeit in P. war die Aufzeichnung eines langen Māndi-Mythos
						(Text A10), erzählt von Fazals altem Vater Qamar Din mit
						gelegentlicher Hilfe seines Sohnes. Die Prasun-Reise 1970
						erbrachte viel Material, aber einige Details blieben unklar. GB
						spürte am Schluss, dass es genug Gründe für eine 3. Reise gäbe.</p>
					<p>Am 12.9.79 brach GB von Paṣki auf und wanderte über Wama, wo
						eine schreckliche Cholera-Epidemie herrschte, und Cepregal nach
						Qala. Hier traf GB einen Sprecher des Dorfes Gṛangal (Goŋgal), wo
						eine bisher unbekannte Sprache gesprochen wurde, die
						nordwestlichen Pashai-Dialekten nahesteht. Am 16.9. arbeitete GB
						mit Hilfe eines alten Sprechers an einer Skizze dieser Sprache. Am
						18.9.70 wurde GB von Frau Wilfriede Snoy aus Kabul von der
						Außenstelle des Südasieninstituts der dortige Landrover
						entgegengeschickt, der GB die 140km nach Kabul brachte. Am
						29.9.1970 kehrte er nach Deutschland zurück.</p>
				</span>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer">FOOTER</div>
	<!-- Bootstrap core JavaScript -->
	<script src="jquery/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
