<div th:fragment="prn008" class="prn008">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A3 &Uuml;ber die Dorfteile und
			Dorf&auml;mter von Paṣki</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>Wuṣit ugˈumulug čpu wiṭig ˈasto.</li>
				<li>čpˈoeg wiṭig ps-nǝm ra-st? Psnī wiṭig, P&scaron;&uuml;̄
					wiṭig, Py&ouml;sal wiṭig, Paṣlig wiṭig.</li>
				<li>atig wiṭig čpū goŋ re-st, atig goŋ wuṣ warǝg
					(k&uuml;ǰˈ&uuml;̄) rē-st.</li>
				<li>čpoeg goŋ tiparˈoga čpoež k&uuml;ǰˈ&uuml;̄ winīg-ǝlist.</li>
				<li>čpoeg wiṭig tāsig watˈē re-st.</li>
				<li>wiṭig rē tadbˈa ǝdya yāsˈ-ag re-st.</li>
				<li>tadbˈa wiṭig-pan atinēwˈog na rē-s.</li>
				<li>atig wiṭig k&uuml;ǰ&uuml;̄ ǝskˈal wog-ra-stˈo atǝs
					wiṭig-pan ajˈinēwī &uuml;tyˈog winīg-ǝlist.</li>
				<li>wiṭiglug yˈās-ag intig ǝṣṭǝg ǝlist (ǝlˈast).</li>
				<li>goŋlug ǝṣṭǝg nǝnˈī rē-st.</li>
				<li>čpoeg goŋ tipārˈoga atig ǝṣṭˈǝg ǝlist, su ǝṣṭǝg nǝma wiṭig
					ǝṣṭǝg rē-s.</li>
				<li>ǝṣṭǝga w&uuml;&scaron;&ouml; pa-s-ē purdˈū pa-s-ˈē
					&uuml;tyˈog rē-s.</li>
				<li>wiṭiglug te&scaron; b&uuml;d aṣc̣ˈẹsto sǝmi&scaron; ǝṣṭǝg
					&uuml;t&uuml;nig-ǝlist.</li>
				<li>wiṭig ǝṣṭǝgˈa mǝnǰerā-wag rē-s.</li>
				<li>wiṭig warǝglugˈa timṣī-wumṣˈinēwog rē-st.</li>
				<li>piẽ l&uuml;pˈoma ǝdī mi&scaron; yē wiṭig-pan re-s.</li>
				<li>wǝstˈī gǝzī warǝg lī mi&scaron;-ag buṭˈog wukṣˈī mi&scaron;
					t-arǝg tiptˈoma&scaron; wi&scaron;t mi&scaron; yē wiṭig-pan rē-s.</li>
				<li>mi&scaron;-ag buṭˈog wukṣˈī tiptog-rˈa-so čk&uuml;a su apˈi
					atig k&uuml;ǰˈ&uuml;̄ agn&uuml;newī māliˈa alī naparˈī aplīnig-ǝlī.</li>
				<li>wiṭig-wag kodyum arˈī so.</li>
				<li>yās wiṭiglug yās goŋlugan wučˈō surinig rē māliˈa
					t&uuml;ẓgunīg rē woz buṭˈog linˈīg rē Mārˈē (Mārˈe&scaron;) munj
					wiċǝ buṭog linˈig rē alogēlinig-ǝlist.</li>
				<li>wučˈō suryˈoma te-pčinˈig-ǝlast?</li>
				<li>ugˈuman aplinig-ǝlist.</li>
				<li>ugum ks-rā-st? l&ouml;g inǰ&ouml;liga rē-st.</li>
				<li>inǰ&ouml;ligalugan aplyˈoma mi&scaron;in t-arǝg
					bitinˈīg-ǝlist.</li>
				<li>hukumat wǝǰǰǝmīlug aċˈoma ǝbˈǝg apligˈa kodyum alogēliga
					inǰ&ouml;liga rē-st.</li>
				<li>goŋlug māliˈa t&uuml;ẓguwˈī wiṭig ẓǝtč alin čar last.</li>
				<li>wiṭig ǝṣṭǝg inǰ&ouml;ligˈa&scaron; alinˈig-ǝlī.</li>
				<li>inǰ&ouml;ligˈa gǝm extiyār aplyˈog ẓǝtč alinīg-ǝlī.</li>
				<li>ẓǝt malˈǝg&scaron; c̣ā linˈīg-ǝlī, ṭiŋǝlugan aŋgunˈī
					tu-lust alinīg-ǝli.</li>
				<li>malǝg anipčˈī hukumat xazānˈā-pan tāīl linīg-ǝlī.</li>
				<li>tāīl lī b&uuml;sċˈ&uuml;̄ atig rasˈīd wugˈī gī žonˈīg-ǝlī.</li>
				<li>māliˈa yās nyerig otinig-ǝlast? k&uuml;ž&uuml;̄ gunˈīg yās
					lǝzˈež ṭiŋˈǝ otyˈoma atig goŋ ṭiŋǝ nuweig-zū lapoinīg-ǝlī.</span> <span
			class="cs519E05AF"></li>
		<li>āst wǝǰǰǝmīlug atˈig wiṭig-pana wikṣīnēwī l&uuml; wusċˈū
				wurī kodyumlugan alogˈēlinig-ǝlist.</li>
		<li>l&ouml;g wusċˈū laṭkˈoma atˈǝs wiṭig-pana āst wǝǰǰǝmˈī wikṣˈī
				wurī &uuml;t&uuml;wǝnīg-ǝlist.</li>
		<li>ta&scaron;čǝ Psnī wiṭig l&uuml; wusċˈū laṭkˈoma tǝkċˈog
				P&scaron;&uuml; wiṭig l&uuml; wusċˈū laṭkˈoma tǝkċog Py&ouml;sal
				wiṭig l&uuml; wusċˈū laṭkˈoma tǝkċog Paṣlig wiṭig l&uuml; wusċˈū
				laṭkˈoma tipārogˈa āst wusċˈū lapoinīg-ǝlī.</li>
		<li>āsteg wusċˈū lāṭogˈoma Psnī wiṭig-wag sudˈı wār anīg-ǝlī.</span> <span
			class="cs519E05AF"></li>
		<li>naparˈī pselinig čar ǝlˈam&scaron; hukumˈat&scaron;?</li>
		<li>wuṣ wǝǰǰǝmˈī aplin čar lam&scaron;.</li>
		<li>wuṣˈeg wǝǰǰǝmī l&uuml; wusċˈū laṭkī āma&scaron; c̣tag wuṣ
				wǝǰǰǝmī apligˈa-rˈē-sǝm&scaron;.</li>
		<li>wuṣˈeg wǝǰǰimyˈen čpoeg t-eṭig (tǝ-wiṭig) intig wǝǰǰǝmī atˈī
				l&uuml; wǝǰǰimyen-ǝsˈa l&uuml; l&uuml; wiṭiga intig ātˈī yās-wag sǝd
				gọ̄ṭu yās-wag sǝt sadǝ ṭiŋˈǝ intig wǝzǝl atig ǰōra bistarˈa ti-ǰī
				atig wuluk amǰuwˈī atig sīra wučˈō apliga-rē-sǝm&scaron;.</li>
		<li>ǝndˈō loptˈī naparˈī a&scaron;uwˈī tarxīz gī aċˈoma c̣tag wuṣ
				wǝǰǰǝmˈī wikṣˈī c̣tag ǝstlǝg čar atˈī losċǝga-rē-sǝm&scaron;.</li>
		<li>naparī-wag m&uuml;l&uuml;a mǝrī rē-st: ps-ra-st? sǝd gōṭū,
				sǝt sat ṭiŋˈǝ, atig ǰˈōra bistarˈa atig sīr wučˈō, ti-ǰī atˈig
				wulug, l&uuml;̄ wǝzˈǝl, atig ǰōra žiċǝn hak ǝlist.</li>
		<li>wuṣit ogˈuma w&uuml;&scaron;&ouml;lug naparˈī pǝzga na
				ra-stayˈa asˈǝ tkūawitˈē pǝzˈī wǝǰǰǝmˈī ilgī naparˈī ṣǝ
				a&scaron;uwˈī naparˈī losċinig čar ǝlisǝm&scaron;.</li>
		<li>tkūawitˈē te&scaron; kolinig čar ǝlˈam&scaron;?</li>
		<li>Əṭǝmǝ̃, Omǝ&scaron;ˈǝ, Z&uuml;nyˈū, alˈari Yīpˈǝ,
				by&ouml;ryˈog Yīpˈǝ, Kāmˈǝ mǝryen tīpārogaya tkūawitˈē wǝǰǰimī
				linig čār ǝlˈisǝm&scaron;.</li>
		<li>tazkirˈa wǝnī wǝǰǰǝmī ra-stˈo hukūmata yūwaz na wuginig čar
				ǝlī.</li>
		<li>ǰadīdī (i&scaron;tyē wǝnīlug) tazkirˈa wulˈēsto.</li>
		<li>inǰ&ouml;ligˈa t-iṭigˈa wikṣīnēnig čar lˈasto.</li>
		<li>ta&scaron;če l&uuml;̄ inǰ&ouml;ligˈa Psnī wiṭig ˈasto.</li>
		<li>l&uuml; wusċˈū laṭkˈoma &bdquo;yabē lyomˈa&ldquo; lī l&uuml;
				inǰ&ouml;liga P&scaron;&uuml; wiṭig-pana wikṣˈī uguma lǝtrīlug wučō
				rē umˈū rē undomi&scaron;in tu-lust taˈīl ligˈāsto.</li>
		<li>hukumat wǝǰǰǝmˈī aċog-ra-stˈo undōmi&scaron;in ǝbǝg aplinīg,
				b&uuml;&scaron;liwˈī &uuml;&scaron;tyānig ganda lī ānjenˈīg, mōsǝlˈī
				alinˈig, asōmyˈen gǝzˈī tu-lust aplinig inǰ&ouml;liga kodyum rē-st.</li>
		<li>mǝlǝg kodyˈumana inǰ&ouml;liga alugelinˈīg-ǝlist.</li>
		<li>atig wǝǰǰimˈī malˈǝg wikṣin čar last werˈī ǝznegˈa&scaron;
				bižičinˈig ǝznega&scaron;.</li>
		<li>ǝstlǝg wǝǰǰimiˈa mǝnǰerˈā-wag malǝg rē-s.</li>
		<li>malǝg-wag kodyum ps-rˈa-so?</li>
		<li>hukumat kodyumlugan alugēlinig-ǝlī.</li>
		<li>hukumat kodyum ps-ra-st?</li>
		<li>atig wǝǰǰǝmī naparˈī pǝzgˈā-we-dyˈē sǝmi&scaron; hukumat
				p&scaron;čī čīrˈā lī lopčī Kabul adǝmǝnˈig sǝmi&scaron; kodyum
				rē-s.</li>
		<li>māliˈa tāˈīl linig sǝmi&scaron; kodyum rē-s.</li>
		<li>atig wǝǰǰǝmˈī naparˈī pǝzˈī omoˈē-dē sǝmi&scaron; muǰulˈa
				linig malˈǝg kodyum rē-s.</li>
		<li>sučˈog hukumat t&uuml;pti-wuptenig kodyumlug ps-pa-sto malǝg
				ulugēlinig-ǝlī.</li>
		<li>malǝg t-arǝg tī kodyumlugˈa ps-pa-sto sučogˈana ugˈumu
				alugēlinig-ǝlist, ṣǝ kodyuman rē y&uuml;s wuẓnˈig rē
				&scaron;īrˈǝg wuẓnˈig rē l&ouml;̄ gǝznˈig rē tǝ-wǝṭ kˈodyuman rē
				alugēligˈa ugumˈu re-st.</li>
		<li>ugumˈa extiyˈār aplyog ẓǝt: mi&scaron;-ag atǝs kodyum
				wulˈēso.</li>
		<li>l&uuml; wǝǰǰǝmī t&uuml;skoˈẹ-dē undōmi&scaron;in
				alugēlinig, ugumˈa-wag atig kodyum wˈe-dē sǝmi&scaron;
				alugēlinig, ugˈuma lǝtrˈī&scaron; nugˈī wǝǰǰǝmī yā
				p&scaron;čigˈa-we-dē undōmi&scaron;in alugēlinig ẓet kodyum rē-s.
		</li>
		<li>wuryˈen kodyum alisgˈa apˈı inǰˈ&ouml;ligan kodyum alisgˈa
				apˈı ẓet rē-s.</li>
		<li>itˈī as tǝ-mǰer ẓǝt &Scaron;embu-kāka rē-s.</li>
		<li>mi&scaron; ẓǝt wikṣˈoma watˈē atig ǰ&uuml;w&uuml;z
				wusċēwˈogso.</li>
		<li>su omog-rˈa-so ugˈumulug ma&scaron;ǰit t&uuml;ẓgˈī atˈǝs
				welˈē ẓǝt extiyār aplˈī &uuml;t&uuml;nīg-ǝlist.</li>
		<li>atig wǝǰǰǝmˈī atig gǝm ṭā&scaron; akičigˈa wog-ra-sˈo gˈǝman
				ag&uuml;digās.</li>
		<li>ugˈuma ǝṣṭˈǝg čit ǝlist, atˈǝg ǝṣṭǝg asċenig na wolnīg-ǝlī.</li>
		<li>magran apı t&uuml;ẓguwˈī b&uuml;s&uuml;gnānˈīg-ǝlī,
				&ldquo;asċẹm&scaron;ō&rdquo; lyogustaya asċegˈāst.</li>
		<li>&ldquo;asċẹm&scaron;ō&rdquo; nā lyog-lastˈo tubuloŋnī atǝg
				asċeniga na wolnīg-ǝlī.</li>
		<li>su psē na asċˈī wolmā-ra-so? sǝmˈi&scaron;a ibiŋya werī
				asċing-ǝlist, sǝmi&scaron; &ldquo;čǝčunigˈa č&ouml; oyˈogo&rdquo;
				ligasto lī ǝndˈēa &ldquo;ẓāṭ</span><a href="#_ftn0" title="Vermutlich verschrieben für zāṭ." name="_ftn_GoBack0"><span
			class="cs519E05AF"><sup>[1]</sup></span></a><span class="cs519E05AF">
			ċa asċogo&rdquo; ligˈasto lī ǝptˈerga-rē-s.
			</li>
		<li>krǝk-wag na asċī wolga-rˈē-s.</li>
		</ol>
		</span>
	</p>
</div>
