<div th:fragment="deu008" class="deu008">
	<h5 class="csE87214E3">
		<span class="csFAF3A986">Text A3 &Uuml;ber die Dorfteile und
			Dorf&auml;mter von Paṣki</span>
	</h5>
	<p class="cs80D9435B">
		<span class="cs519E05AF"><ol>
				<li>Die Dorfbewohner von Paṣki sind (in) vier</span><span
			class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			(aufgeteilt).
			</li>
			<li>Wie hei&szlig;en die vier
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">?
			Psnī, P&scaron;&uuml;̄, Py&ouml;sal, Paṣlig.
			</li>
			<li>Ein
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			besteht aus vier </span><span class="cs5688BE4F">goŋ</span><span
			class="cs519E05AF">, ein </span><span class="cs5688BE4F">goŋ</span><span
			class="cs519E05AF"> besteht aus sechs H&auml;usern
			(Hausgemeinschaften).
			</li>
			<li>Alle vier
		</span><span class="cs5688BE4F">goŋ</span><span class="cs519E05AF">
			zusammen werden (also) vierundzwanzig Hausgemeinschaften bilden.
			</li>
			<li>Die vier
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			bestehen seit fr&uuml;her(er Zeit).
			</li>
			<li>
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			und </span><span class="cs5688BE4F">tadba</span><span class="cs519E05AF">
			sind (Kategorien) je f&uuml;r sich.
			</li>
			<li>
		</span><span class="cs5688BE4F">tadbˈa</span><span class="cs519E05AF">
			ist nicht auf </span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF"> gegr&uuml;ndet.
			</li>
			<li>Wenn die Hausgemeinschaften eines
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			(zu) viel werden,</span><a href="#_ftn0" title="Wörtl.: „wurden“."
			name="_ftn_GoBack0"><span class="cs519E05AF"><sup>[1]</sup></span></a><span
			class="cs519E05AF"> werden sie in einem anderen </span><span
			class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">,
			nachdem (der bisherige </span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF">) abgeworfen (worden ist), ebenso (zu
			Mitgliedern).
			</li>
			<li>Die
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			haben f&uuml;r sich je einen &Auml;ltesten</span><a href="#_ftn1"
			title=" ǝṣṭǝg." name="_ftn_GoBack1"><span class="cs519E05AF"><sup>[2]</sup></span></a><span
			class="cs519E05AF">.
			</li>
			<li>Die
		</span><span class="cs5688BE4F">goŋ</span><span class="cs519E05AF">
			haben keinen &Auml;ltesten.
			</li>
			<li>Alle vier
		</span><span class="cs5688BE4F">goŋ</span><span class="cs519E05AF">
			zusammen haben einen &Auml;ltesten, der Name des &Auml;ltesten ist </span><span
			class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">-&Auml;ltester.
			</li>
			<li>Ob der &Auml;lteste ein junger Mann oder ein alter Mann ist,
				ist gleich.</li>
			<li>Wem die (Angeh&ouml;rigen der)
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			geneigt sind,</span><a href="#_ftn2"
			title=" Wörtl.: „wessen sie den Sinn anheften mögen“."
			name="_ftn_GoBack2"><span class="cs519E05AF"><sup>[3]</sup></span></a><span
			class="cs519E05AF"> den werden sie als &Auml;ltesten
			aufstellen.
			</li>
			<li>Der
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">-&Auml;lteste
			ist es auf Lebenszeit.
			</li>
			<li>Die H&auml;user des
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			sind durcheinandergemischt.</span><a href="#_ftn3"
			title="D. h. es gibt keine geschlossenen Siedlungsgebiete, die Zuordnung zu einem wiṭig ist unabhängig von der Lage des Hauses. "
			name="_ftn_GoBack3"><span class="cs519E05AF"><sup>[4]</sup></span></a><span
			class="cs519E05AF"></li>
			<li>Auch wenn ein Sohn erwachsen wird, ist er im</span><span
			class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			seines Vaters.
			</li>
			<li>Nachdem er geheiratet hat, ein Haus gebaut hat, f&uuml;r
				sich einen Anteil (als Erbe) an sich genommen hat, ist er, bis (zum
				Zeitpunkt, da) er in sein Haus eintritt, im
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			seines Vaters.
			</li>
			<li>Nachdem er f&uuml;r sich einen Anteil an sich genommen hat,
				wenn er (nun in sein eigenes Haus) einzieht
		</span><a href="#_ftn4" title="Wörtl.: „(wenn er) eintrat“. "
			name="_ftn_GoBack4"><span class="cs519E05AF"><sup>[5]</sup></span></a><span
			class="cs519E05AF">, dann (erst) wird auch er, als eine
			Hausgemeinschaft gez&auml;hlt werdend, Steuern abgeben und
			Wehrdienstersatzgeld entrichten.</span> <span class="cs519E05AF"></li>
			<li>F&uuml;r den</span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF"> ist die Aufgabe diese (folgende).
			</li>
			<li>Von einem jedem
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			(und) jedem </span><span class="cs5688BE4F">goŋ</span><a href="#_ftn5"
			title="wiṭig und goŋ stehen im Prasun im Plural mit Kasusmarkierung."
			name="_ftn_GoBack5"><span class="cs519E05AF"><sup>[6]</sup></span></a><span
			class="cs519E05AF"> werden sie das Sammeln von Schmelzbutter,
			Eintreiben von Steuern, Zuteilen der Eichen, Zuteilen des Anteils an
			(dem Gottesland) Maras Wiese organisieren.
			</li>
			<li>Wenn sie Schmelzbutter einsammeln, was machen sie damit?
		</span><a href="#_ftn6" title="Wörtl.: „wohin werden sie bringen?“"
			name="_ftn_GoBack6"><span class="cs519E05AF"><sup>[7]</sup></span></a><span
			class="cs519E05AF">
			</li>
			<li>Sie werden sie den D&ouml;rflern geben.</li>
			<li>Wer sind denn (in diesem Zusammenhang) die D&ouml;rfler? Es
				sind die beiden
		</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span class="cs519E05AF">.</span><a
			href="#_ftn7" title="Wörtl.: „wohin werden sie bringen?“"
			name="_ftn_GoBack7"><span class="cs519E05AF"><sup>[8]</sup></span></a><span
			class="cs519E05AF"></li>
			<li>Wenn sie (die Schmelzbutter) den</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span
			class="cs519E05AF"> geben, werden (diese) sie in ihrem Haus
			aufbewahren.
			</li>
			<li>Wenn Leute der Regierung kommen, sind die Organisatoren der
				Aufgabe, sie zu bewirten,
		</span><a href="#_ftn8" title="Wörtl.: „Werk der Brot-Geber“."
			name="_ftn_GoBack8"><span class="cs519E05AF"><sup>[9]</sup></span></a><span
			class="cs519E05AF"> die </span><span class="cs5688BE4F">inǰ&ouml;liga</span><span
			class="cs519E05AF">.
			</li>
			<li>Die
		</span><span class="cs5688BE4F">goŋ</span><span class="cs519E05AF">-Leute
			pflegen die Steuer einzusammeln und dem </span><span class="cs5688BE4F">wiṭig-ẓǝt</span><span
			class="cs519E05AF"> zu &uuml;bergeben.
			</li>
			<li>Der
		</span><span class="cs5688BE4F">wiṭig-ǝṣṭǝg </span><span class="cs519E05AF">wird
			sie dem </span><span class="cs5688BE4F">inǰ&ouml;liga</span><span
			class="cs519E05AF"> &uuml;bergeben.
			</li>
			<li>Der
		</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span class="cs519E05AF">
			wird sie dem </span><span class="cs5688BE4F">ẓǝt</span><span
			class="cs519E05AF"> &uuml;bergeben, (dem die) Vollmacht
			(&uuml;ber das) Dorf verliehen (worden ist).
			</li>
			<li>Der
		</span><span class="cs5688BE4F">ẓǝt</span><span class="cs519E05AF">
			wird den Malik rufen, er wird ihm die Gelder abgez&auml;hlt in die
			Hand geben.
			</li>
			<li>Der Malik wird es talab bringen und im Schatzhaus der
				Regierung abliefern.</li>
			<li>Nachdem er es abgeliefert hat, wird er eine Quittung nehmen
				und talauf (zur&uuml;ck) kommen.</li>
			<li>Wieviel Steuern wird
		</span><a href="#_ftn9" title="Plural im Prasun" name="_ftn_GoBack9"><span
			class="cs519E05AF"><sup>[10]</sup></span></a><span class="cs519E05AF">
			ein jeder zahlen? Da jede Hausgemeinschaft je 30 Afghani</span><a
			href="#_ftn10" title=" Wörtl.: „30 Geld(stücke)“."
			name="_ftn_GoBack10"><span class="cs519E05AF"><sup>[11]</sup></span></a><span
			class="cs519E05AF"> zahlt, wird (man auf eine Summe von) 180
			Afghani (von je) einem </span><span class="cs5688BE4F">goŋ</span><span
			class="cs519E05AF"> kommen.</span><a href="#_ftn11"
			title="Wörtl.: „wird hinaufgelangen“." name="_ftn_GoBack11"><span
			class="cs519E05AF"><sup>[12]</sup></span></a><span class="cs519E05AF">
		</span> <span class="cs519E05AF"></li>
			<li>Nachdem acht M&auml;nner aus einem</span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF"> gew&auml;hlt worden sind, werden sie
			f&uuml;r zwei Jahre die Aufgaben der </span><span class="cs5688BE4F">wurī</span><span
			class="cs519E05AF"> erledigen.</span><a href="#_ftn12"
			title="Vgl. Text A2." name="_ftn_GoBack12"><span
			class="cs519E05AF"><sup>[13]</sup></span></a><span class="cs519E05AF">
			</li>
			<li>Wenn sie die zwei Jahre hinter sich gebracht haben, wird man
				aus einem anderen
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			acht M&auml;nner w&auml;hlen und als </span><span class="cs5688BE4F">wurī</span><span
			class="cs519E05AF"> aufstellen.
			</li>
			<li>Wenn zuerst der Psnī-
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			zwei Jahre hinter sich bringt, danach der P&scaron;&uuml;-</span><span
			class="cs5688BE4F">wiṭig</span><span class="cs519E05AF"> zwei
			Jahre hinter sich bringt, danach Py&ouml;sal-</span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF"> zwei Jahre hinter sich bringt, danach der
			Paṣlig-</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			zwei Jahre hinter sich bringt, wird (man) zusammen auf acht Jahre
			kommen.</span><a href="#_ftn13"
			title="Wörtl.: „acht Jahre wird hochgelangen“." name="_ftn_GoBack13"><span
			class="cs519E05AF"><sup>[14]</sup></span></a><span class="cs519E05AF">
			</li>
			<li>Wenn die acht Jahre um sind, wird die Reihe wieder an den
				Psnī-
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			kommen. </span> <span class="cs519E05AF"></li>
			<li>Wie pflegen wir f&uuml;r die Regierung den Wehrdienst zu
				leisten?</li>
			<li>Wir pflegen sechs M&auml;nner (zum Milit&auml;r) zu geben.</li>
			<li>Wenn die sechs M&auml;nner, nachdem sie zwei Jahre (beim
				Milit&auml;r) verbracht haben, (wieder) kommen, geben wir wieder
				sechs M&auml;nner.</li>
			<li>Den sechs M&auml;nnern &ndash; mit je einem Mann in den vier
		</span><span class="cs5688BE4F">wiṭig</span><span class="cs519E05AF">
			und mit den zwei M&auml;nnern zus&auml;tzlich, von je zwei </span><span
			class="cs5688BE4F">wiṭig</span><span class="cs519E05AF"> je
			einem &ndash; geben wir einem jeden sieben K&uuml;he, 700 Afghani, je
			ein (Paar) Schuhe, einen Satz Bettzeug (und), nachdem wir (ihm) auf
			den Kopf eine M&uuml;tze gesetzt haben, ein </span><span class="cs5688BE4F">ser</span><a
			href="#_ftn14" title=" Ca. 7 kg." name="_ftn_GoBack14"><span
			class="cs519E05AF"><sup>[15]</sup></span></a><span class="cs519E05AF">
			Schmelzbutter.
			</li>
			<li>Wenn jene, nachdem sie hinauf (nach Kabul) gegangen sind,
				Wehrdienst geleistet haben, einen Entlassungsschein bekommen haben
				und (zur&uuml;ck) kommen, suchen wir wieder sechs M&auml;nner aus
				und schicken sie wieder nach jenem Brauch hinauf.</li>
			<li>Die Preise f&uuml;r den Wehrdienst sind diese. Was sind sie
				denn? Auf sieben K&uuml;he, 700 Afghani, einen Satz Bettzeug, ein
		</span><span class="cs5688BE4F">ser</span><span class="cs519E05AF">
			Schmelzbutter, 1 M&uuml;tze auf dem Kopf, zwei Schuhe, einen Satz
			Kleidung haben sie Anspruch.
			</li>
			<li>In der Dorfgemeinschaft von Paṣki, wenn keine junge
				M&auml;nner da sind, die zum Wehrdienst gehen, pflegten wir zu
		</span><span class="cs5688BE4F">tkūawitˈē</span><span class="cs519E05AF">
			zu gehen, M&auml;nner zu kaufen, Wehrdienst-Vieh zu bezahlen und
			(diese M&auml;nner nach Kabul) hinaufzuschicken.
			</li>
			<li>Von was pflegen wir als
		</span><span class="cs5688BE4F">tkūawitˈē</span><span class="cs519E05AF">
			(&bdquo;Vom Berg drau&szlig;en&ldquo;) zu sprechen?
			</li>
			<li>Die Bewohner von Waigal, Am&scaron;os, Wama, die oberen Kati
				(Kantiwo), die unteren Kati (Bagromotal), die Leute von Kamdesh,
				diese zusammen pflegten wir
		</span><span class="cs5688BE4F">tkūawitˈē</span><span class="cs519E05AF">-M&auml;nner
			zu nennen.
			</li>
			<li>Wenn M&auml;nner
		</span><span class="cs5688BE4F">tazkira</span><a href="#_ftn15"
			title="Pers. tazkira „Ausweis“." name="_ftn_GoBack15"><span
			class="cs519E05AF"><sup>[16]</sup></span></a><span class="cs519E05AF">-Besitzer
			sind,</span><a href="#_ftn16"
			title="D. h. wenn sie der Wehrpflicht unterliegen."
			name="_ftn_GoBack16"><span class="cs519E05AF"><sup>[17]</sup></span></a><span
			class="cs519E05AF"> pflegte die Regierung keine Ersatz(leute)
			anzunehmen.
			</li>
			<li>Die
		</span><span class="cs5688BE4F">ǰadīdī</span><a href="#_ftn17"
			title="Männer mit dem Haarschopf aus der vorislamischen Zeit, später bis vereinzelt heute allgemeine Bezeichnung für Nuristanis (jadīd al-islām „Neulinge im Islam“)"
			name="_ftn_GoBack17"><span class="cs519E05AF"><sup>[18]</sup></span></a><span
			class="cs519E05AF"> (Haarschopfbesitzer) haben kein </span><span
			class="cs5688BE4F">tazkira</span><span class="cs519E05AF">.</span><a
			href="#_ftn18" title="Sie können daher Wehrdienst im Tausch leisten."
			name="_ftn_GoBack18"><span class="cs519E05AF"><sup>[19]</sup></span></a><span
			class="cs519E05AF"></li>
			<li>Die</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span
			class="cs519E05AF"> pflegen im </span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF"> gew&auml;hlt zu werden.
			</li>
			<li>Zuerst sind es zwei
		</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span class="cs519E05AF">
			(aus) dem Psnī-</span><span class="cs5688BE4F">wiṭig</span><span
			class="cs519E05AF">.
			</li>
			<li>Wenn sie zwei Jahre hinter sich gebracht haben, nachdem sie
				&bdquo;Ich tat genug!&ldquo; gesagt haben, w&auml;hlt man zwei
		</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span class="cs519E05AF">
			aus dem P&scaron;&uuml;-wiṭig und &uuml;bertragt ihnen</span><a
			href="#_ftn19" title=" Wörtl.: „in deren Hand“." name="_ftn_GoBack19"><span
			class="cs519E05AF"><sup>[20]</sup></span></a><span class="cs519E05AF">
			die Dorfangelegenheiten (wie) Schmelzbutter und Waln&uuml;sse.
			</li>
			<li>Wenn Leute von der Regierung kommen, ist es Aufgabe der
		</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span class="cs519E05AF">,
			ihnen Essen zu geben, gut f&uuml;r sie zu sorgen,</span><a href="#_ftn20"
			title=" Wörtl: „gut hingesetzt habend aufstehen lassen zu sehen“."
			name="_ftn_GoBack20"><span class="cs519E05AF"><sup>[21]</sup></span></a><span
			class="cs519E05AF"> Abgaben zu entrichten, die
			Aufgeschriebenen</span><a href="#_ftn21"
			title="Wörtl.: „die Namen“ (Pers. asāmī), d. h. die namentlich bekannten Personen, nach denen in Kabul gesucht wird."
			name="_ftn_GoBack21"><span class="cs519E05AF"><sup>[22]</sup></span></a><span
			class="cs519E05AF"> zu holen und zu &uuml;bergeben.
			</li>
			<li>Diese Aufgaben werden die
		</span><span class="cs5688BE4F">inǰ&ouml;liga</span><span class="cs519E05AF">
			erledigen.
			</li>
			<li>Sie pflegen einen Mann zum Malik zu w&auml;hlen, einen, der
				Sprachen
		</span><a href="#_ftn22" title="Persisch und/ oder Pashto."
			name="_ftn_GoBack22"><span class="cs519E05AF"><sup>[23]</sup></span></a><span
			class="cs519E05AF"> kennt (und) der schreiben kann.
			</li>
			<li>Jener Mann ist Malik auf Lebenszeit.</li>
			<li>Was ist denn die Aufgabe f&uuml;r den Malik?</li>
			<li>Er wird die (von der) Regierung (geforderten) Aufgaben
				erledigen.</li>
			<li>Was sind denn die Regierungsaufgaben?</li>
			<li>Wenn ein Mann zum Wehrdienst gehen will, ist es seine
				Aufgabe, nachdem er ihn zur Regierung gebracht hat, nachdem die
				medizinische Untersuchung durchgef&uuml;hrt wurde, ihn nach Kabul
				hochzubringen und zu &uuml;bergeben.</li>
			<li>Die Steuer abzuliefern ist seine Aufgabe.</li>
			<li>Wenn ein Mann, nachdem er zum Wehrdienst gegangen ist, (im
				Heimaturlaub) stirbt, ist es die Aufgabe des Malik, es den
				Beh&ouml;rden zu melden.</li>
			<li>Alle Aufgaben des Ein- und Ausgehens (bei der) Regierung,
				was immer sie sein m&ouml;gen, wird der Malik erledigen.</li>
			<li>Diese Arbeiten innen im Haus, was immer sie sein m&ouml;gen,
				sie alle werden die D&ouml;rfler (selbst, ohne Aufsicht durch den
				Malik) erledigen, die Arbeiten mit dem Vieh, Gras m&auml;hen,
				Getreide m&auml;hen, Holz holen, die Arbeiten im Stall erledigen
		</span><a href="#_ftn23" title="Wörtl.: „sind Erlediger“."
			name="_ftn_GoBack23"><span class="cs519E05AF"><sup>[24]</sup></span></a><span
			class="cs519E05AF"> die D&ouml;rfler.
			</li>
			<li>Der von der Dorfgemeinschaft bevollm&auml;chtigte
		</span><span class="cs5688BE4F">ẓǝt</span><span class="cs519E05AF">:
			er ist frei von anderen Aufgaben (als den folgenden):
			</li>
			<li>Wenn zwei M&auml;nner streiten,
		</span><a href="#_ftn24" title="Singular im Prasun." name="_ftn_GoBack24"><span
			class="cs519E05AF"><sup>[25]</sup></span></a><span class="cs519E05AF">
			zwischen ihnen zu schlichten,</span><a href="#_ftn25"
			title="Wörtl.: „erledigen“." name="_ftn_GoBack25"><span
			class="cs519E05AF"><sup>[26]</sup></span></a><span class="cs519E05AF">
			wenn f&uuml;r die Dorfgemeinschaft eine Handlung (notwendig) wird,
			sie zu erledigen, wenn irgendein Mann das Eigentum der
			Dorfgemeinschaft entleihen will, jene (Aufgaben) zu erledigen ist die
			Aufgabe des </span><span class="cs5688BE4F">ẓǝt</span><span
			class="cs519E05AF">.
			</li>
			<li>Derjenige, der den
		</span><span class="cs5688BE4F">wurī</span><span class="cs519E05AF">
			Aufgaben &uuml;bertr&auml;gt, und auch derjenige, der den </span><span
			class="cs5688BE4F">inǰ&ouml;liga</span><span class="cs519E05AF">
			Aufgaben &uuml;bertr&auml;gt, ist der </span><span class="cs5688BE4F">ẓǝt</span><span
			class="cs519E05AF">.
			</li>
			<li>Jetzt in unserer Zeit ist &Scaron;embu-kāka der
		</span><span class="cs5688BE4F">ẓǝt</span><span class="cs519E05AF">.
			</li>
			<li>Seit er zum
		</span><span class="cs5688BE4F">ẓǝt</span><span class="cs519E05AF">
			gew&auml;hlt wurde, vergingen 11-12 Jahre.
			</li>
			<li>Wenn er stirbt,
		</span><a href="#_ftn26" title="Wörtl.: „starb“." name="_ftn_GoBack26"><span
			class="cs519E05AF"><sup>[27]</sup></span></a><span class="cs519E05AF">
			werden die D&ouml;rfler sich in der Moschee versammeln und einem
			weiteren, anderen </span><span class="cs5688BE4F">ẓǝt</span><span
			class="cs519E05AF"> die Vollmacht geben und ihn aufstellen.
			</li>
			<li>Wenn ein Mann eine Stelle des Dorfes urbar machen will,
				fragt er die D&ouml;rfler.</li>
			<li>Die Entscheidung liegt bei den &Auml;ltesten der
				Dorfgemeinschaft,
		</span><a href="#_ftn27" title="Wörtl.: „die Ältesten haben (ihren) Willen“."
			name="_ftn_GoBack27"><span class="cs519E05AF"><sup>[28]</sup></span></a><span
			class="cs519E05AF"> ein &Auml;ltester (allein) wird nicht
			zustimmen k&ouml;nnen.
			</li>
			<li>Er wird auch die anderen versammeln und sie zur Beratung
				auffordern: wenn sie &ldquo;Wir wollen es gestatten&ldquo;, gesagt
				haben, gestatten sie es.</li>
			<li>(Wenn) sie nicht gesagt haben: &ldquo;Wir wollen es
				gestatten&rdquo;, wird einer allein es nicht gestatten k&ouml;nnen.</li>
			<li>Warum kann er es denn nicht gestatten? Er wird sich dann
				f&uuml;rchten: morgen werden sie &uuml;ber ihn reden,
		</span><a href="#_ftn28" title="Wörtl.: „Wort schicken“."
			name="_ftn_GoBack28"><span class="cs519E05AF"><sup>[29]</sup></span></a><span
			class="cs519E05AF"> sie sagen &uuml;ber ihn: &bdquo;er
			lie&szlig; sich bestechen&ldquo;</span><a href="#_ftn29"
			title="Wörtl.: „Heimlich aß er Bestechung/ Tee“, s. Glossar s. v. čö."
			name="_ftn_GoBack29"><span class="cs519E05AF"><sup>[30]</sup></span></a><span
			class="cs519E05AF"> oder sie sagen: &bdquo;weil er ein
			Verwandter (des Antragstellers) ist,</span><a href="#_ftn30"
			title="Oder: „(einem) Verwandten gestattete er es.“ ċa 1) „Ast“ (auch: „Verwandter“), 2) = sa „(weil, wenn) ein Verwandter ist“."
			name="_ftn_GoBack30"><span class="cs519E05AF"><sup>[31]</sup></span></a><span
			class="cs519E05AF"> gestattete er es.&ldquo;
			</li>
			<li>Aus solchem Grund kann er es nicht gestatten.</li>
			</ol>
		</span>
	</p>

</div>